<template>
  <md-card>
    <md-card-content>
      <div class="md-layout">
        <vue-element-loading :active="isLoading">
          <atom-spinner :size="100" color="#00bcd4"/>
        </vue-element-loading>

        <div class="md-layout-item md-small-size-100 md-xsmall-size-100 md-medium-size-100 md-size-100">
          <h4 class="card-title"></h4>
          <div class="md-layout">
            <div class="md-layout-item">
              <v-dialog ref="dialog"
                        v-model="menu"
                        :return-value.sync="picker"
                        persistent
                        lazy
                        full-width
                        width="290px">
                <template v-slot:activator="{ on }">
                  <md-field md-clearable :class="[ {'md-valid': !errors.has( $t('start_day') ) }, {'md-error': errors.has( $t('start_day') )}]">
                    <md-icon>event</md-icon>
                    <label for="month">{{ $t('start_day').capitalize() }}</label>
                    <md-input :data-vv-name="$t('start_day')"
                              name="month" readonly
                              v-validate="'date_format:yyyy-MM'"
                              id="month" v-model="picker" v-on="on"
                              autocomplete="off">
                    </md-input>
                  </md-field>
                </template>

                <v-date-picker color="blue lighten-1"
                               locale="es-es"
                               ref="picker" header-color="blue" v-model="picker" type="month" scrollable>
                  <v-spacer></v-spacer>
                  <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                  <v-btn flat color="primary" @click="$refs.dialog.save(picker)">OK</v-btn>
                </v-date-picker>
              </v-dialog>
            </div>
          </div>
        </div>
        <md-divider class="my-3"></md-divider>
        <div class="md-layout-item md-size-100 md-small-size-100 md-xsmall-size-100 mx-auto">
          <vue-dropzone ref="dropzone_agreement" id="agreement"
                        @vdropzone-file-added="onFile"
                        @vdropzone-max-files-exceeded="onMaxFiles"
                        @vdropzone-sending="onSending"
                        @vdropzone-removed-file="onFile"
                        @vdropzone-canceled="onCancelUpload"
                        @vdropzone-success="onSuccessUpload"
                        @vdropzone-error="onErrorUpload"
                        :options="dropzone"></vue-dropzone>
        </div>
      </div>
    </md-card-content>
    <md-card-actions class="text-center">
      <md-button native-type="submit" @click.native.prevent="validate" :disabled="isLoading" class="md-info">{{ $t("Upload File") }}</md-button>
      <slot></slot>
    </md-card-actions>
  </md-card>
</template>

<script>
  import VueElementLoading from 'vue-element-loading'
  import { AtomSpinner } from 'epic-spinners'
  import vue2Dropzone from 'vue2-dropzone';
  import 'vue2-dropzone/dist/vue2Dropzone.min.css';
  export default {
    name: "DropzoneFiles",
    components: {
      vueDropzone: vue2Dropzone,
      AtomSpinner,
      VueElementLoading
    },
    props: {
      url: {
        type: String,
        required:true
      }
    },
    data: () => ({
      menu: false,
      picker: new Date().toISOString().substr(0, 7),
      dropzone: {
        url: null,
        thumbnailWidth: 150,
        maxFilesize: 40, //MB
        addRemoveLinks: true,
        parallelUploads: 1,
        maxFiles: 1,
        autoProcessQueue: false,
        acceptedFiles: '.pdf,.docx,.doc,.xls,.xlsx,.xlsm',
        headers: {
          'X-CSRF-TOKEN': document.head.querySelector('meta[name="csrf-token"]').content
        },
        dictDefaultMessage: '<i class="fas fa-cloud-upload-alt text-info fa-10x"></i><br><p>Arrastra o da click aquí para subir el acta.</p>'
      }
    }),
    created() {
      this.dropzone.url = this.url;
      this.axiosInterceptor();
    },
    methods: {
      // Agreement File
      validate: function () {
        this.$validator.validateAll().then(isValid => {
          if ( isValid && this.file_count === 1 ) {
            this.$refs.dropzone_agreement.processQueue();
          } else {
            this.$notify({
              message: this.$t('invalid') || this.unexpected,
              icon: "add_alert",
              horizontalAlign: 'center',
              verticalAlign: 'top',
              type: 'danger'
            });
          }
        });
      },
      onFile: function (file) {
        if ('undefined' !== typeof this.$refs.dropzone_agreement.dropzone) {
          this.file_count = this.$refs.dropzone_agreement.dropzone.files.length
        } else {
          this.file_count = 0;
        }
      },
      onMaxFiles: function (file) {
        this.$refs.dropzone_agreement.removeFile(file);
      },
      onSending: function (file, xhr, formData) {
        formData.append('month', this.picker);
      },
      onCancelUpload: function (file) {
        this.$refs.dropzone_agreement.removeFile(file);
      },
      onSuccessUpload: function (file, response) {
        this.$refs.dropzone_agreement.removeFile(file);
        if (file.status === "success") {
          this.$emit('on-submit');
          this.$notify({
            message: response.data,
            icon: "add_alert",
            horizontalAlign: 'center',
            verticalAlign: 'top',
            type: 'success'
          });
        }
      },
      onErrorUpload: function (file, message, xhr) {
        this.$refs.dropzone_agreement.removeFile(file);
        this.$notify({
          message: message.message || this.error_file,
          icon: "add_alert",
          horizontalAlign: 'center',
          verticalAlign: 'top',
          type: 'danger'
        });
      },
    }
  }
</script>

<style scoped>

</style>