<template>
  <div class="md-layout">
    <div v-if="$auth.can( 'admin_access')" class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-small-size-100 md-large-size-100 md-size-80 mx-auto">
      <md-card>
        <md-card-content>
          <div class="md-layout-item">
            <md-field md-clearable :class="[{ 'md-valid': !errors.has( $t('instructor') ) && touched.instructor }, { 'md-error': errors.has( $t('instructor') ) }]">
              <md-icon>event</md-icon>
              <label for="schedule">{{ $t('instructor').capitalize() }}</label>
              <md-select @md-selected="onSelectedInstructor"
                         v-model="instructor_id"
                         :data-vv-name="$t('instructor')"
                         required name="schedule" id="schedule">
                <md-option v-for="item in instructors" :key="item.id" :value="item.id">{{ item.name }}</md-option>
              </md-select>
            </md-field>
          </div>
          <div class="md-layout-item">
            <v-dialog ref="dialog"
                      v-model="menu"
                      :return-value.sync="picker"
                      persistent
                      lazy
                      full-width
                      width="290px">
              <template v-slot:activator="{ on }">
                <md-field md-clearable :class="[ {'md-valid': !errors.has( $t('start_day') ) }, {'md-error': errors.has( $t('start_day') )}]">
                  <md-icon>event</md-icon>
                  <label for="month">{{ $t('start_day').capitalize() }}</label>
                  <md-input :data-vv-name="$t('start_day')"
                            name="month" readonly
                            v-validate="'date_format:yyyy-MM'"
                            id="month" v-model="picker" v-on="on"
                            autocomplete="off">
                  </md-input>
                </md-field>
              </template>

              <v-date-picker color="blue lighten-1"
                             locale="es-es"
                             ref="picker" header-color="blue" v-model="picker" type="month" scrollable>
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                <v-btn flat color="primary" @click="$refs.dialog.save(picker)">OK</v-btn>
              </v-date-picker>
            </v-dialog>
          </div>
        </md-card-content>
      </md-card>
    </div>
    <div class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-small-size-100 md-large-size-100 md-size-80 mx-auto">
      <nav-tabs-card>
        <template slot="content">
          <span class="md-nav-tabs-title">{{ $t('Files') }}</span>

          <md-tabs :md-dynamic-height="true" class="md-info"  md-alignment="right">
            <md-tab id="tab-files" :md-label="$t('Agreements')" md-icon="file_copy">
              <form v-show="upload_a">
                <dropzone-files :url="api.END_POINTS.AGREEMENT()">
                  <md-button  @click.native.prevent="upload_a = false" :disabled="isLoading" class="md-default">{{ $t("Cancel") }}</md-button>
                </dropzone-files>
              </form>
              <div v-show="!upload_a" class="md-layout">
                <div class="md-layout-item md-small-size-100 md-medium-size-100 md-large-size-100 md-xlarge-size-65 md-size-65 mx-auto">
                  <md-card>
                    <md-card-header>
                      <md-card-header-text>
                        <div class="md-title"></div>
                      </md-card-header-text>

                      <md-menu md-size="auto" md-direction="bottom-end">
                        <md-button class="md-info md-round md-just-icon" md-menu-trigger>
                          <md-icon>more_vert</md-icon>
                        </md-button>
                        <md-menu-content>
                          <md-menu-item @click="upload_a = true">
                            <md-icon>add</md-icon>
                            {{ $t('Upload File') }}
                          </md-menu-item>

                          <md-menu-item @click="getAgreements()">
                            <md-icon>autorenew</md-icon>
                            {{ $t('Reload') }}
                          </md-menu-item>
                        </md-menu-content>
                      </md-menu>
                    </md-card-header>

                    <md-card-content>
                      <div class="md-layout" >
                        <div class="md-layout-item md-size-30 ml-auto md-small-size-100">
                          <md-field>
                            <md-input type="search" clearable :placeholder="$t('Search')" v-model="agreement_table.query">
                            </md-input>
                          </md-field>
                        </div>
                      </div>

                      <v-data-table :headers="columns" :rows-per-page-items="[5, 10, 15, 25, 50, 100]" :items="agreement_table.files" item-key="id"
                                    :loading="agreement_table.loading" :pagination.sync="agreement_table.pagination" :total-items="agreement_table.total" :rows-per-page-text="$t('Per Page')">

                        <template v-slot:progress >
                          <md-progress-bar md-mode="indeterminate"></md-progress-bar>
                        </template>

                        <template v-slot:pageText="props">
                          {{ $t('pagination', { init: props.pageStart, end: props.pageStop, total: props.itemsLength } ) }}
                        </template>

                        <template v-slot:no-data>
                          <md-empty-state
                            md-icon="assignment_ind"
                            :md-label="$t('empty').capitalize()"
                            :md-description="$t('no data')">
                            <md-button @click.prevent="upload_a = true" class="md-button md-info md-round md-block">
                              {{ $t('Upload File') }}
                            </md-button>
                          </md-empty-state>
                        </template>

                        <template v-slot:items="item">
                          <tr>
                            <td>{{ item.item.id }}</td>
                            <td class="is-right">{{ item.item.filename }}</td>
                            <td class="is-right">{{ item.item.month }}</td>
                            <td>
                              <md-button class="md-just-icon md-warning md-simple" @click="onUpdateMonth(item.item.id)">
                                <md-icon>edit</md-icon>
                                <md-tooltip md-direction="top">{{ $t('Edit') }}</md-tooltip>
                              </md-button>
                              <md-button class="md-just-icon md-info md-simple"  target="_blank" :href="item.item.path">
                                <md-icon>cloud_download</md-icon>
                                <md-tooltip md-direction="top">{{ $t('Download') }}</md-tooltip>
                              </md-button>
                              <md-button class="md-just-icon md-danger md-simple"  @click="onDelete(item.item.id)">
                                <md-icon>delete</md-icon>
                                <md-tooltip md-direction="top">{{ $t('Delete') }}</md-tooltip>
                              </md-button>
                            </td>
                          </tr>
                        </template>

                      </v-data-table>

                    </md-card-content>
                  </md-card>
                </div>
              </div>
            </md-tab>
            <md-tab id="tab-work" :md-label="$t('Work Plan')" md-icon="file_copy">
              <form v-show="upload_b">
                <dropzone-files :url="api.END_POINTS.WORK()">
                  <md-button  @click.native.prevent="upload_b = false" :disabled="isLoading" class="md-default">{{ $t("Cancel") }}</md-button>
                </dropzone-files>
              </form>
              <div v-show="!upload_b" class="md-layout">
                <div class="md-layout-item md-small-size-100 md-medium-size-100 md-large-size-100 md-xlarge-size-65 md-size-65 mx-auto">
                  <md-card>
                    <md-card-header>
                      <md-card-header-text>
                        <div class="md-title"></div>
                      </md-card-header-text>

                      <md-menu md-size="auto" md-direction="bottom-end">
                        <md-button class="md-info md-round md-just-icon" md-menu-trigger>
                          <md-icon>more_vert</md-icon>
                        </md-button>
                        <md-menu-content>
                          <md-menu-item @click="upload_b = true">
                            <md-icon>add</md-icon>
                            {{ $t('Upload File') }}
                          </md-menu-item>

                          <md-menu-item @click="getWorkPlan()">
                            <md-icon>autorenew</md-icon>
                            {{ $t('Reload') }}
                          </md-menu-item>
                        </md-menu-content>
                      </md-menu>
                    </md-card-header>

                    <md-card-content>
                      <div class="md-layout" >
                        <div class="md-layout-item md-size-30 ml-auto md-small-size-100">
                          <md-field>
                            <md-input type="search" clearable :placeholder="$t('Search')" v-model="work_plan_table.query">
                            </md-input>
                          </md-field>
                        </div>
                      </div>

                      <v-data-table :headers="columns" :rows-per-page-items="[5, 10, 15, 25, 50, 100]" :items="work_plan_table.files" item-key="id"
                                    :loading="agreement_table.loading" :pagination.sync="work_plan_table.pagination" :total-items="work_plan_table.total" :rows-per-page-text="$t('Per Page')">

                        <template v-slot:progress >
                          <md-progress-bar md-mode="indeterminate"></md-progress-bar>
                        </template>

                        <template v-slot:pageText="props">
                          {{ $t('pagination', { init: props.pageStart, end: props.pageStop, total: props.itemsLength } ) }}
                        </template>

                        <template v-slot:no-data>
                          <md-empty-state
                            md-icon="assignment_ind"
                            :md-label="$t('empty').capitalize()"
                            :md-description="$t('no data')">
                            <md-button @click.prevent="upload_b = true" class="md-button md-info md-round md-block">
                              {{ $t('Upload File') }}
                            </md-button>
                          </md-empty-state>
                        </template>

                        <template v-slot:items="item">
                          <tr>
                            <td>{{ item.item.id }}</td>
                            <td class="is-right">{{ item.item.filename }}</td>
                            <td class="is-right">{{ item.item.month }}</td>
                            <td>
                              <md-button class="md-just-icon md-warning md-simple" @click="onUpdateMonth(item.item.id)">
                                <md-icon>edit</md-icon>
                                <md-tooltip md-direction="top">{{ $t('Edit') }}</md-tooltip>
                              </md-button>
                              <md-button class="md-just-icon md-warning md-simple"  target="_blank" :href="item.item.path">
                                <md-icon>cloud_download</md-icon>
                                <md-tooltip md-direction="top">{{ $t('Download') }}</md-tooltip>
                              </md-button>
                              <md-button class="md-just-icon md-danger md-simple"  @click="onDelete(item.item.id)">
                                <md-icon>delete</md-icon>
                                <md-tooltip md-direction="top">{{ $t('Delete') }}</md-tooltip>
                              </md-button>
                            </td>
                          </tr>
                        </template>

                      </v-data-table>

                    </md-card-content>
                  </md-card>
                </div>
              </div>
            </md-tab>
            <md-tab id="tab-training" :md-label="$t('Training Plan')" md-icon="file_copy">
              <form v-show="upload_c">
                <dropzone-files :url="api.END_POINTS.TRAINING()">
                  <md-button  @click.native.prevent="upload_c = false" :disabled="isLoading" class="md-default">{{ $t("Cancel") }}</md-button>
                </dropzone-files>
              </form>
              <div v-show="!upload_c" class="md-layout">
                <div class="md-layout-item md-small-size-100 md-medium-size-100 md-large-size-100 md-xlarge-size-65 md-size-65 mx-auto">
                  <md-card>
                    <md-card-header>
                      <md-card-header-text>
                        <div class="md-title"></div>
                      </md-card-header-text>

                      <md-menu md-size="auto" md-direction="bottom-end">
                        <md-button class="md-info md-round md-just-icon" md-menu-trigger>
                          <md-icon>more_vert</md-icon>
                        </md-button>
                        <md-menu-content>
                          <md-menu-item @click="upload_c = true">
                            <md-icon>add</md-icon>
                            {{ $t('Upload File') }}
                          </md-menu-item>

                          <md-menu-item @click="getTraining()">
                            <md-icon>autorenew</md-icon>
                            {{ $t('Reload') }}
                          </md-menu-item>
                        </md-menu-content>
                      </md-menu>
                    </md-card-header>

                    <md-card-content>
                      <div class="md-layout" >
                        <div class="md-layout-item md-size-30 ml-auto md-small-size-100">
                          <md-field>
                            <md-input type="search" clearable :placeholder="$t('Search')" v-model="training_table.query">
                            </md-input>
                          </md-field>
                        </div>
                      </div>

                      <v-data-table :headers="columns" :rows-per-page-items="[5, 10, 15, 25, 50, 100]" :items="training_table.files" item-key="id"
                                    :loading="training_table.loading" :pagination.sync="training_table.pagination" :total-items="training_table.total" :rows-per-page-text="$t('Per Page')">

                        <template v-slot:progress >
                          <md-progress-bar md-mode="indeterminate"></md-progress-bar>
                        </template>

                        <template v-slot:pageText="props">
                          {{ $t('pagination', { init: props.pageStart, end: props.pageStop, total: props.itemsLength } ) }}
                        </template>

                        <template v-slot:no-data>
                          <md-empty-state
                            md-icon="assignment_ind"
                            :md-label="$t('empty').capitalize()"
                            :md-description="$t('no data')">
                            <md-button @click.prevent="upload_c = true" class="md-button md-info md-round md-block">
                              {{ $t('Upload File') }}
                            </md-button>
                          </md-empty-state>
                        </template>

                        <template v-slot:items="item">
                          <tr>
                            <td>{{ item.item.id }}</td>
                            <td class="is-right">{{ item.item.filename }}</td>
                            <td class="is-right">{{ item.item.month }}</td>
                            <td>
                              <md-button class="md-just-icon md-warning md-simple" @click="onUpdateMonth(item.item.id)">
                                <md-icon>edit</md-icon>
                                <md-tooltip md-direction="top">{{ $t('Edit') }}</md-tooltip>
                              </md-button>
                              <md-button class="md-just-icon md-warning md-simple" target="_blank" :href="item.item.path">
                                <md-icon>cloud_download</md-icon>
                                <md-tooltip md-direction="top">{{ $t('Download') }}</md-tooltip>
                              </md-button>
                              <md-button class="md-just-icon md-danger md-simple"  @click="onDelete(item.item.id)">
                                <md-icon>delete</md-icon>
                                <md-tooltip md-direction="top">{{ $t('Delete') }}</md-tooltip>
                              </md-button>
                            </td>
                          </tr>
                        </template>

                      </v-data-table>

                    </md-card-content>
                  </md-card>
                </div>
              </div>
            </md-tab>
          </md-tabs>

        </template>
      </nav-tabs-card>



    </div>
  </div>
</template>

<script>
  import Swal from "sweetalert2";
  import {NavTabsCard} from "@/components"
  import {Files} from "@/models/services/Files";
  import {Instructors} from "@/models/services/Instructors";
  import {Api} from "@/models/Api";
  import DropzoneFiles from "./DropzoneFiles"
  export default {
    name: "Evidence",
    components: {
      NavTabsCard,
      DropzoneFiles
    },
    data: () => ({
      instructor_id: null,
      instructors: [],
      touched: {
        instructor: false,
      },
      picker: "",
      picker2: "",
      id_to_update: null,
      menu:false,
      menu2:false,
      api: Api,
      upload_a: false,
      upload_b: false,
      upload_c: false,
      agreement_table: {
        total: 0,
        pagination: {},
        expand: false,
        files: [],
        loading: true,
        query: null,
      },
      work_plan_table: {
        total: 0,
        pagination: {},
        expand: false,
        files: [],
        loading: true,
        query: null,
      },
      training_table: {
        total: 0,
        pagination: {},
        expand: false,
        files: [],
        loading: true,
        query: null,
      },
    }),
    created: function () {
      this.getAgreements();
      this.getWorkPlan();
      this.getTraining();
      if ( this.$auth.can('admin_access') ) {
        this.getInstructors();
      }
    },
    methods: {
      getInstructors: _.debounce( function () {
        (new Instructors()).index()
          .then( response =>  this.instructors = response.data)
          .catch((error) => {
            this.notifyOnError( error.message );
          })
      }, 700 ),

      onSelectedInstructor: _.debounce(function( id ) {
        this.getAgreements(id);
        this.getWorkPlan(id);
        this.getTraining(id);

      }, 700),

      getAgreements: function ( id = null ) {
        const { sortBy, descending, page, rowsPerPage } = this.agreement_table.pagination;
        const query = this.agreement_table.query;
        this.agreement_table.loading = true;
        (new Files()).agreement({ params: { instructor: this.instructor_id, per_page: rowsPerPage, order: descending, column: sortBy, query: query, page: page, month: this.picker } })
          .then((response) => {
            this.agreement_table.files = response.data.data;
            this.agreement_table.total = response.data.total;
            this.agreement_table.loading = false;
          })
          .catch((error) => {
            this.notifyOnError( error.message )
          })
      },
      onDelete: function (id = null) {
        if (id) {
          let that = this;
          Swal.fire({
            title: that.$t('Delete'),
            text: that.$t('Confirm Delete File'),
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "md-button md-success",
            cancelButtonClass: "md-button md-danger",
            confirmButtonText: that.$t('Yes'),
            cancelButtonText: that.$t('Cancel'),
            buttonsStyling: false
          }).then(result => {
            if (result.value) {
              (new Files()).destroy(id)
                .then((response) => {
                  Swal.fire({
                    title: that.$t('Deleted'),
                    text: response.data,
                    type: "success",
                    confirmButtonClass: "md-button md-success",
                    buttonsStyling: false
                  });
                })
                .then(() => {
                  that.getAgreements();
                  that.getWorkPlan();
                  that.getTraining();
                })
                .catch((error) => {
                  that.$notify({
                    message: error.message || that.unexpected,
                    icon: "add_alert",
                    horizontalAlign: 'top',
                    verticalAlign: 'center',
                    type: 'danger'
                  });
                })
            }
          });

        }
      },

      onUpdateMonth: function ( id = null ) {
        if ( id ) {
          this.id_to_update = id;
          this.menu2 = true;
        } else {
          this.id_to_update = null;
          this.menu2 = false;
        }
      },

      onConfirm: function () {
        let that = this;
        this.$refs.dialog2.save(this.picker2)

        if ( this.id_to_update && this.picker2) {
          (new Files( { month: this.picker2 } )).update( this.id_to_update )
            .then((response) => {
              Swal.fire({
                title: that.$t('Updated'),
                text: response.data,
                type: "success",
                confirmButtonClass: "md-button md-success",
                buttonsStyling: false
              });
            })
            .then(() => {
              this.id_to_update = null;
              this.menu2 = false;
              that.getAgreements();
              that.getWorkPlan();
              that.getTraining();
            })
            .catch((error) => {
              that.$notify({
                message: error.message || that.unexpected,
                icon: "add_alert",
                horizontalAlign: 'top',
                verticalAlign: 'center',
                type: 'danger'
              });
            })
        }
      },

      getWorkPlan: function ( id = null ) {
        const { sortBy, descending, page, rowsPerPage } = this.work_plan_table.pagination;
        const query = this.work_plan_table.query;
        this.work_plan_table.loading = true;
        (new Files()).work({ params: { instructor: this.instructor_id, per_page: rowsPerPage, order: descending, column: sortBy, query: query, page: page, month: this.picker } })
          .then((response) => {
            this.work_plan_table.files = response.data.data;
            this.work_plan_table.total = response.data.total;
            this.work_plan_table.loading = false;
          })
          .catch((error) => {
            this.notifyOnError( error.message )
          })
      },
      getTraining: function ( id = null ) {
        const { sortBy, descending, page, rowsPerPage } = this.training_table.pagination;
        const query = this.training_table.query;
        this.training_table.loading = true;
        (new Files()).training({ params: { instructor: this.instructor_id, per_page: rowsPerPage, order: descending, column: sortBy, query: query, page: page, month: this.picker } })
          .then((response) => {
            this.training_table.files = response.data.data;
            this.training_table.total = response.data.total;
            this.training_table.loading = false;
          })
          .catch((error) => {
            this.notifyOnError( error.message )
          })
      }
    },
    computed: {
      columns: function () {
        return [
          { text: '#', width: '100', value: 'id', sortable: true },
          { text: this.$t('filename').capitalize(), value: 'park', width: '300', align: 'center', sortable: true },
          { text: this.$t('created_at').capitalize(), value: 'created_at', width: '300', align: 'center', sortable: true },
          { text: this.$t('Download').capitalize(), width: '100', sortable: false },
        ];
      },
    },
    watch: {
      picker: function () {
        this.getAgreements();
        this.getWorkPlan();
        this.getTraining();
      },
      'agreement_table.query': function () {
        this.getAgreements();
      },
      'agreement_table.pagination': {
        handler () {
          this.getAgreements();
        },
        deep: true
      },
      'work_plan_table.query': function () {
        this.getWorkPlan();
      },
      'work_plan_table.pagination': {
        handler () {
          this.getWorkPlan();
        },
        deep: true
      },
      'training_table.query': function () {
        this.getTraining();
      },
      'training_table.pagination': {
        handler () {
          this.getTraining();
        },
        deep: true
      },
    },
  }
</script>

<style scoped>

</style>