<template>
  <ul class="nav nav-mobile-menu">
    <li>
      <drop-down>
        <a slot="title" class="dropdown-toggle" data-toggle="dropdown">
          <i class="material-icons">language</i>
          <p>{{ $t('Lang') }}</p>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
          <a href="javascript:;" @click="onLang('es')">ES</a>
          </li>
          <li>
            <a href="javascript:;" @click="onLang('en')">EN</a>
          </li>
        </ul>
      </drop-down>
    </li>
  </ul>
</template>
<script>
export default {
  mounted: function () {
    if ( this.$store.getters.getLang ) {
      this.$i18n.locale = this.$store.getters.getLang;
    }
  },
  methods: {
    onLang: function (lang) {
      this.$store.dispatch('set_lang', lang)
        .then(() => {
          this.$i18n.locale = lang;
        })
    }
  }
};
</script>
