<template>
  <div class="md-layout">
    <div class="md-layout-item md-small-size-100 md-medium-size-100 md-large-size-100 md-xlarge-size-65 md-size-65 mx-auto">
      <md-card>
        <md-card-header class="md-card-header-icon md-card-header-blue">
          <div class="card-icon">
            <md-icon>assignment</md-icon>
          </div>
          <h4 class="title">{{ $t('Participants') }}</h4>
        </md-card-header>
        <md-card-content>
          <div class="md-layout" >
            <vue-element-loading :active="isLoading && !loading">
              <atom-spinner :size="100" color="#00bcd4"/>
            </vue-element-loading>

            <div class="md-layout-item md-size-30 ml-auto md-small-size-100">
              <md-field>
                <md-input type="search" clearable :placeholder="$t('Search')" v-model="query">
                </md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-size-5 ml-auto md-small-size-20">
              <md-menu md-size="auto" md-direction="bottom-end">
                <md-button class="md-info md-round md-just-icon" md-menu-trigger>
                  <md-icon>more_vert</md-icon>
                </md-button>
                <md-menu-content>
                  <md-menu-item @click="onExport">
                    <md-icon>description</md-icon>
                    {{ $t('Export to Excel') }}
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </div>
          </div>

          <v-data-table :headers="columns" :rows-per-page-items="[5, 10, 15, 25, 50, 100]" :items="participants" :expand="expand" item-key="id"
                        :loading="loading" :pagination.sync="pagination" :total-items="total" :rows-per-page-text="$t('Per Page')">

            <template v-slot:progress >
              <md-progress-bar md-mode="indeterminate"></md-progress-bar>
            </template>

            <template v-slot:pageText="props">
              {{ $t('pagination', { init: props.pageStart, end: props.pageStop, total: props.itemsLength } ) }}
            </template>

            <template v-slot:no-data>
              <md-empty-state
                md-icon="assignment_ind"
                :md-label="$t('empty').capitalize()"
                :md-description="$t('no data')">
                <md-button @click.prevent="onCreate" class="md-button md-info md-round md-block">
                  {{ $t('Create Participant') }}
                </md-button>
              </md-empty-state>
            </template>

            <template v-slot:items="item">
              <tr @click="item.expanded = !item.expanded">
                <td>
                  <md-button class="md-just-icon md-warning md-simple" @click.native="onEdit(item.item)">
                    <md-icon>create</md-icon>
                    <md-tooltip md-direction="top">{{ $t('Edit') }}</md-tooltip>
                  </md-button>
                </td>
                <td>{{ item.item.id }}</td>
                <td class="is-right">{{ item.item.name }}</td>
                <td class="is-right">{{ item.item.lastname }}</td>
                <td class="is-right">{{ item.item.document }}</td>
                <td class="is-right">{{ item.item.document_type_name }}</td>
                <td class="is-right">{{ item.item.sex_name }}</td>
                <td class="is-right">{{ item.item.gender_name }}</td>
              </tr>
            </template>

            <template v-slot:expand="item">
              <v-card flat>
                <div style="padding: 24px;" >
                  <table class="mu-table-body" style="width:100%">
                    <tr>
                      <th width="150">{{ $t('ethnic_group').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.ethnic_group_name }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('social_group').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.social_group_name }}</td>
                    </tr>
                    <tr>
                      <th width="150"></th>
                      <td class="is-left">{{ item.item.situation_name }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('eps').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.eps }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('residence_location').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.location_name }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('phone_or_mobile').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.phone_or_mobile }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('park').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.stage }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('register_by').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.trainer }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('created_at').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.created_at }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('updated_at').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.updated_at }}</td>
                    </tr>
                  </table>
                </div>
              </v-card>
            </template>

          </v-data-table>

        </md-card-content>
      </md-card>
    </div>
  </div>
</template>

<script>
  import VueElementLoading from 'vue-element-loading'
  import { AtomSpinner } from 'epic-spinners'
  import {Participant} from "@/models/services/Participant";
  import {Api} from "@/models/Api";

  export default {
    name: "ParticipantsTable",
    components: {
      VueElementLoading,
      AtomSpinner
    },
    data: () => ({
      total: 0,
      pagination: {},
      expand: false,
      participants: [],
      loading: true,
      query: null,
    }),
    created: function() {
      this.getParticipants();
    },
    methods: {
      getParticipants: _.debounce( function () {
        const { sortBy, descending, page, rowsPerPage } = this.pagination;
        const query = this.query;
        this.loading = true;
        (new Participant({})).index({ params: { per_page: rowsPerPage, order: descending, column: sortBy, query: query, page: page } })
          .then( (response) => {
            this.participants = response.data.data;
            this.total = response.data.total;
            this.loading = false;
          })
          .catch((error) => {
            this.$notify({
              message: error.message || this.unexpected,
              icon: "add_alert",
              horizontalAlign: 'top',
              verticalAlign: 'center',
              type: 'danger'
            });
          })
      }, 300),
      onExport: function () {
        this.axiosInterceptor();
        window.axios({
          url: Api.END_POINTS.REPORT_PARTICIPANTS(),
          method: 'POST',
          responseType: 'blob', // important
        }).then((response) => {
          const url = window.URL.createObjectURL(new Blob([response.data]));
          const link = document.createElement('a');
          link.href = url;
          link.setAttribute('download', 'REPORTE-PARTICIPANTES.xlsx'); //or any other extension
          document.body.appendChild(link);
          link.click();
        })
          .catch((error) => this.notifyOnError( error.error.message ));
      },
      onEdit: function (item) {
        this.$router.push( { name: 'Edit Participant', params: { item: item, id: item.id }} );
      },
      onCreate: function () {
        this.$router.push( { name: 'Create Participant'} )
      },
    },
    computed: {
      columns: function () {
        return [
          { text: this.$t('Edit').capitalize(), width: '100', sortable: false },
          { text: '#', width: '100', value: 'id', sortable: true },
          { text: this.$t('name').capitalize(), value: 'name', width: '126', align: 'center', sortable: true },
          { text: this.$t('lastname').capitalize(), value: 'lastname', width: '126', align: 'center', sortable: true },
          { text: this.$t('document').capitalize(), value: 'document', width: '200', align: 'center', sortable: true },
          { text: this.$t('document_type').capitalize(), value: 'document_type_name', width: '300', align: 'center', sortable: true },
          { text: this.$t('sex').capitalize(), value: 'sex_name', width: '150', align: 'center', sortable: true },
          { text: this.$t('gender').capitalize(), value: 'gender_name', width: '100', align: 'center', sortable: true },
        ];
      },
    },
    watch: {
      query: function () {
        this.getParticipants();
      },
      pagination: {
        handler () {
          this.getParticipants();
        },
        deep: true
      }
    },
  }
</script>

<style scoped>

</style>