<template>
  <div class="md-layout">
    <div class="md-layout-item md-size-100">
      <participant-form @on-submit="onSubmit"></participant-form>
    </div>
  </div>
</template>

<script>
  import ParticipantForm from "./Forms/ParticipantForm"
  export default {
    name: "Participant",
    components: {
      ParticipantForm
    },
    created: function () {
      this.axiosInterceptor();
    },
    methods: {
      onSubmit: function (form, isValid) {
        if ( isValid ) {
          form.store()
            .then((response) => {
              this.notifyOnSuccess( response.data );
            })
            .catch((error) => {
              this.notifyOnError( error.message );
            })
        } else {
          this.notifyOnError( this.$t('invalid') );
        }
      }
    }
  }
</script>

<style scoped>

</style>