<template>
  <form @submit.prevent="onSubmit">
    <md-card>
      <md-card-header class="md-card-header-text md-card-header-blue">
        <div class="card-text">
          <h4 class="title">{{ title }}</h4>
        </div>
      </md-card-header>

      <md-card-content>
        <div class="md-layout" style="padding-bottom: 24px;">
          <vue-element-loading :active="isLoading && !loading">
            <atom-spinner :size="100" color="#00bcd4"/>
          </vue-element-loading>

          <div class="md-layout-item md-size-100 md-small-size-100">
            <p class="card-title"></p>
            <div class="md-layout">
              <div class="md-layout-item">

                <v-dialog ref="dialog"
                          v-model="menu"
                          :return-value.sync="form.day"
                          persistent
                          lazy
                          full-width
                          width="290px">
                  <template v-slot:activator="{ on }">
                    <md-field md-clearable :class="[ {'md-valid': !errors.has( $t('day') ) && form.touched.day}, {'md-error': errors.has( $t('day') )}]">
                      <md-icon>event</md-icon>
                      <label for="day">{{ $t('day').capitalize() }}</label>
                      <md-input :data-vv-name="$t('day')"
                        name="day" readonly
                        v-validate="'date_format:yyyy-MM-dd|required'"
                        id="day" v-model="form.day" v-on="on"
                        autocomplete="off">
                      </md-input>
                      <slide-y-down-transition>
                        <md-icon class="error" v-show="errors.has( $t('day') ) || form.errors.has('day')">close</md-icon>
                      </slide-y-down-transition>
                      <slide-y-down-transition>
                        <md-icon class="success" v-show="!errors.has( $t('day') ) && form.touched.day">done</md-icon>
                      </slide-y-down-transition>
                    </md-field>
                  </template>

                  <v-date-picker color="blue lighten-1"
                                 locale="es-es"
                                 :min="moment().startOf('year').toISOString()"
                                 ref="picker" header-color="blue" v-model="form.day" scrollable>
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click="menu = false">{{ $t('Cancel') }}</v-btn>
                    <v-btn flat color="primary" @click="$refs.dialog.save(form.day)">{{ $t('Ok') }}</v-btn>
                  </v-date-picker>
                </v-dialog>

              </div>
              <div class="md-layout-item md-small-size-100 md-size-25">
                <h4 class="card-title"></h4>

                <v-dialog ref="dialog3" v-model="modal1" :return-value.sync="form.initial_time" persistent lazy full-width width="290px">
                  <template v-slot:activator="{ on }">
                    <md-field md-clearable  :class="[{'md-valid': !errors.has( $t('initial time') ) && form.touched.initial_time}, {'md-error': errors.has( $t('initial time') ) || form.errors.has('initial_time')}]">
                      <md-icon>access_time</md-icon>
                      <label for="initial_time">{{ $t('initial time').capitalize() }}</label>
                      <md-input  v-on="on" v-model="form.initial_time" v-validate="form.validations.hour_format" readonly="readonly" :data-vv-name="$t('initial time')" required type="text" id="initial_time" name="initial_time"></md-input>
                      <slide-y-down-transition>
                        <md-icon class="error" v-show="(errors.has( $t('initial time') ) && form.touched.initial_time) || form.errors.has('initial_time')">close</md-icon>
                      </slide-y-down-transition>
                      <slide-y-down-transition>
                        <md-icon class="success" v-show="!errors.has( $t('initial time') ) && form.touched.initial_time">done</md-icon>
                      </slide-y-down-transition>
                    </md-field>

                  </template>
                  <v-time-picker v-if="modal1" scrollable :max="form.end_time" @click:hour="onHour" v-model="form.initial_time" color="blue lighten-1" full-width>
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click="modal1 = false">{{ $t('Cancel') }}</v-btn>
                    <v-btn flat color="blue" @click="$refs.dialog3.save(form.initial_time)">{{ $t('Ok') }}</v-btn>
                  </v-time-picker>
                </v-dialog>


              </div>
              <div class="md-layout-item md-small-size-100 md-size-25">
                <h4 class="card-title"></h4>


                <v-dialog ref="dialog2" v-model="modal2" :return-value.sync="form.end_time" persistent lazy full-width width="290px">
                  <template v-slot:activator="{ on }">
                    <md-field md-clearable :class="[{'md-valid': !errors.has( $t('end time') ) && form.touched.end_time}, {'md-error': errors.has( $t('end time') ) || form.errors.has('end_time')}]">
                      <md-icon>access_time</md-icon>
                      <label for="end_time">{{ $t('end time').capitalize() }}</label>
                      <md-input v-on="on" v-model="form.end_time" v-validate="form.validations.hour_format_end" ref="end_time" readonly="readonly" :data-vv-name="$t('end time')" required type="text" id="end_time" name="end_time"></md-input>
                      <slide-y-down-transition>
                        <md-icon class="error" v-show="(errors.has( $t('end time') ) && form.touched.end_time) || form.errors.has('end_time')">close</md-icon>
                      </slide-y-down-transition>
                      <slide-y-down-transition>
                        <md-icon class="success" v-show="!errors.has( $t('end time') ) && form.touched.end_time">done</md-icon>
                      </slide-y-down-transition>
                    </md-field>

                  </template>
                  <v-time-picker v-if="modal2" scrollable :min="form.initial_time" v-model="form.end_time" color="blue lighten-1" full-width>
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click="modal2 = false">{{ $t('Cancel') }}</v-btn>
                    <v-btn flat color="blue" @click="$refs.dialog2.save(form.end_time)">{{ $t('Ok') }}</v-btn>
                  </v-time-picker>
                </v-dialog>

              </div>
            </div>
          </div>

          <div class="md-layout-item md-size-100 md-small-size-100">
            <h4 class="card-title"></h4>
            <div class="md-layout">
              <div class="md-layout-item">
                <md-field md-clearable :class="[{ 'md-valid': !errors.has( $t('park') ) && form.touched.park }, { 'md-error': errors.has( $t('park') ) || form.errors.has('park') }]">
                  <md-icon>room</md-icon>
                  <label for="park">{{ $t('park').capitalize() }}</label>
                  <md-select v-model.number="form.park"
                             v-validate="form.validations.numeric"
                             :data-vv-name="$t('park')"
                             @md-selected="onSelect"
                             @md-clear="onSelect"
                             required name="park" id="park">
                    <md-option v-for="item in stage" :key="item.id" :value="item.id">{{ item.text }}</md-option>
                  </md-select>
                </md-field>
              </div>

            </div>
          </div>

          <div class="md-layout-item text-center">
            <label>{{ $t('load_users').capitalize() }}</label>
          </div>
          <div class="md-layout-item text-center">
            <md-radio v-model="form.schedule" value="AM">AM</md-radio>
            <md-radio v-model="form.schedule" value="PM">PM</md-radio>
          </div>

          <div class="md-layout-item md-size-100 md-small-size-100">
            <h4 class="card-title"></h4>
            <div class="md-layout">
              <div class="md-layout-item">

                <v-autocomplete
                  v-model="form.participants"
                  :items="people"
                  :search-input.sync="search"
                  cache-items
                  hide-no-data
                  hide-details
                  chips
                  required
                  prepend-icon="person"
                  color="blue lighten-2"
                  :label="$t('Participants')"
                  item-text="name"
                  item-value="id"
                  multiple
                >
                  <template v-slot:selection="data">
                    <v-chip :selected="data.selected" close class="chip--select-multi" @input="remove(data.item)">
                      <v-avatar>
                        <md-icon>person</md-icon>
                      </v-avatar>
                      {{ data.item.name }}
                    </v-chip>
                  </template>
                  <template v-slot:item="data">
                    <template v-if="typeof data.item !== 'object'">
                      <v-list-tile-content v-text="data.item"></v-list-tile-content>
                    </template>
                    <template v-else>
                      <v-list-tile-avatar>
                        <md-icon>person</md-icon>
                      </v-list-tile-avatar>
                      <v-list-tile-content>
                        <v-list-tile-title v-html="data.item.name"></v-list-tile-title>
                      </v-list-tile-content>
                    </template>
                  </template>
                </v-autocomplete>

              </div>
            </div>
          </div>

        </div>
      </md-card-content>

      <md-card-actions >
        <md-button native-type="submit" type="submit" :disabled="isLoading" @click.native.prevent="onSubmit" class="md-info">
          {{ $t('Send') }}
        </md-button>
      </md-card-actions>
    </md-card>
  </form>
</template>

<script>
  import moment from "moment"
  import VueElementLoading from 'vue-element-loading'
  import { AtomSpinner } from 'epic-spinners'
  import { SlideYDownTransition } from "vue2-transitions";
  import {Session} from "@/models/services/Session";
  import {Stage} from "@/models/services/Stage";
  import {Participant} from "@/models/services/Participant";
  export default {
    name: "SessionForm",
    props: {
      session: Object
    },
    components: {
      SlideYDownTransition,
      AtomSpinner,
      VueElementLoading
    },
    data: () => ({
      modal1: false,
      modal2: false,
      title: null,
      search: null,
      loading: true,
      menu: false,
      moment: moment,
      form: new Session({
        park: null,
        day: moment().add(1, 'day').format('YYYY-MM-DD'),
        initial_time: null,
        end_time: null,
        participants: [],
        schedule: 'AM'
      }),
      block: false,
      people: [],
      stage: [],
    }),
    created: function () {
      this.axiosInterceptor();
      this.title = (this.$route.params.id)  ? this.$t("Edit Session") : this.$t("Create Session");
      this.form.day = ( this.$route.params.date ) ? moment( this.$route.params.date ).format('YYYY-MM-DD') : moment().add(1, 'day').format('YYYY-MM-DD');
      this.onEdit();
      this.getStage();
    },
    methods: {
      getStage: function () {
        this.loading = false;
        (new Stage()).index()
          .then((response) => {
            this.stage = response.data;
          })
          .catch((error) => {
            this.notifyOnError( error.message )
          })
          .finally(() => {
            this.onEdit()
          })
      },
      onSubmit: function () {
        this.$validator.validateAll().then( isValid => {
          this.$emit('on-submit', this.form, isValid)
        })
      },
      onEdit: function () {
        if ( this.session && this.$route.params.id ) {
          if ( moment().isAfter( moment( this.session.day ).add(10, 'days') )  || this.session.images.length > 0 ) {
            this.block = true;
          }
          this.form = new Session( this.session );
          this.people = this.session.participants.map(p => {
            return {
              id: p.participant_id,
              name: `${p.participant}`
            }
          });
          this.form.participants = this.people.map( p => p.id );
        } else if ( !this.session && this.$route.params.id ) {
          ( new Session({}) ).show( this.$route.params.id )
            .then((response) => {
              if ( moment().isAfter( moment( response.data.day ).add(10, 'days') )  || response.data.images.length > 0) {
                this.block = true;
              }
              this.form = new Session( response.data );
              this.people = this.form.participants.map(p => {
                return {
                  id: p.participant_id,
                  name: `${p.participant}`
                }
              });
              this.form.participants = this.people.map( p => p.id )
            })
            .catch((error) => {
              this.notifyOnError( error.message );
            })
        }
      },
      remove (item) {
        const index = this.form.participants.indexOf(item.id);
        if (index >= 0) this.form.participants.splice(index, 1);
      },
      querySelections: _.debounce( function (v) {
        this.loading = true;
        // Simulated ajax query
        (new Participant({})).index({ params: { per_page: 100, order: 'asc', column: 'id', query: v, page: 1 } })
          .then( (response) => {
            this.people = response.data.data.map(p => {
              return {
                id: p.id,
                name: `${p.name} ${p.lastname}`
              }
            });
          })
          .catch((error) => {
            this.notifyOnError( error.message );
          })
      }, 2000),
      onSelect: function ( id ) {
        if ( id ) {

          let schedule = this.form.schedule || 'AM';

          ( new Participant()).byStage( id, schedule )
            .then((response) => {
              this.people = response.data.map(p => {
                return {
                  id: p.id,
                  name: `${p.name} ${p.lastname}`
                }
              });
              this.form.participants = this.people.map( p => p.id );
            })
            .catch((error) => {
              this.notifyOnError( error.message );
            })
        } else {
          this.people = [];
          this.form.participants = [];
        }
      },
      onHour: function ( hour ) {
        let period = ( hour > 11 ) ? 'PM' : 'AM';
        if ( this.session ) {
          this.form.schedule = ( this.session.schedule === period ) ? this.form.schedule : period;
        } else {
          this.form.schedule = period;
        }
      }
    },
    watch: {
      search (val) {
        val && this.querySelections(val)
      },
      'form.park': function () {
        this.form.touched.park = true;
      },
      'form.schedule': function () {
        this.form.touched.schedule = true;
        this.onSelect( this.form.park );
      },
      'form.day': function () {
        this.form.touched.day = true;
      },
      'form.initial_time': function () {
        this.form.touched.initial_time = true;
      },
      'form.end_time': function () {
        this.form.touched.end_time = true;
      },
      'form.participants': function () {
        this.form.touched.participants = true;
      },
    }
  }
</script>

<style scoped>

</style>