<template>
  <div class="md-layout">
    <div class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-25">

      <stats-card header-color="green">
        <template slot="header">
          <div class="card-icon">
            <md-icon>directions_run</md-icon>
          </div>
          <p class="category">{{ $t('Participants') }}</p>
          <h3 class="title">
            <animated-number :value="counter_people"></animated-number>
          </h3>
        </template>

        <template slot="footer">
          <div class="stats">
            <md-icon>update</md-icon>
            <a href="javascript:;" @click.prevent="refresh"> {{ $t('Reload') }} </a>
          </div>
        </template>
      </stats-card>

    </div>
    <div class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-25">

      <stats-card header-color="blue">
        <template slot="header">
          <div class="card-icon">
            <md-icon>assignment_ind</md-icon>
          </div>
          <p class="category">{{ $t('My Sessions') }}</p>
          <h3 class="title">
            <animated-number :value="counter_sessions"></animated-number>
          </h3>
        </template>

        <template slot="footer">
          <div class="stats">
            <md-icon>update</md-icon>
            <a href="javascript:;" @click.prevent="refresh"> {{ $t('Reload') }} </a>
          </div>
        </template>
      </stats-card>

    </div>
    <div class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-25">

      <stats-card header-color="warning">
        <template slot="header">
          <div class="card-icon">
            <md-icon>location_city</md-icon>
          </div>
          <p class="category">{{ $t('Created this Week') }}</p>
          <h3 class="title">
            <animated-number :value="counter_week"></animated-number>
          </h3>
        </template>

        <template slot="footer">
          <div class="stats">
            <md-icon>update</md-icon>
            <a href="javascript:;" @click.prevent="refresh"> {{ $t('Reload') }} </a>
          </div>
        </template>
      </stats-card>

    </div>
    <div class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-25">

      <stats-card header-color="danger">
        <template slot="header">
          <div class="card-icon">
            <md-icon>event</md-icon>
          </div>
          <p class="category">{{ $t('Created this Month') }}</p>
          <h3 class="title">
            <animated-number :value="counter_month"></animated-number>
          </h3>
        </template>

        <template slot="footer">
          <div class="stats">
            <md-icon>update</md-icon>
            <a href="javascript:;" @click.prevent="refresh"> {{ $t('Reload') }} </a>
          </div>
        </template>
      </stats-card>

    </div>

    <div class="md-layout-item md-size-100 mx-auto">
      <md-card class="md-card-calendar">
        <div v-if="$auth.can( 'admin_access')" class="md-layout-item">
          <md-field md-clearable :class="[{ 'md-valid': !errors.has( $t('instructor') ) && touched.instructor }, { 'md-error': errors.has( $t('instructor') ) }]">
            <md-icon>event</md-icon>
            <label for="schedule">{{ $t('instructor').capitalize() }}</label>
            <md-select @md-selected="onSelectedInstructor"
                       v-model="instructor_id"
                       :data-vv-name="$t('instructor')"
                       required name="schedule" id="schedule">
              <md-option v-for="item in instructors" :key="item.id" :value="item.id">{{ item.name }}</md-option>
            </md-select>
          </md-field>
        </div>
        <md-card-content>
          <div id="fullCalendar"></div>
        </md-card-content>
      </md-card>
    </div>

  </div>
</template>

<script>
import Swal from "sweetalert2";
import moment from "moment";
import $ from "jquery";
import "fullcalendar";
import "fullcalendar/dist/gcal";
import "fullcalendar/dist/locale/es";
import {
  StatsCard,
  PricingCard,
  AnimatedNumber,
  ChartCard
} from "@/components";
import {Counters} from "@/models/services/Counters";
import {Api} from "@/models/Api";
import {Instructors} from "@/models/services/Instructors";

let today = new Date();
let y = today.getFullYear();
let m = today.getMonth();
let d = today.getDate();

export default {
  components: {
    StatsCard,
    PricingCard,
    AnimatedNumber,
    ChartCard
  },
  data() {
    return {
      counter_people: 0,
      counter_sessions: 0,
      counter_week: 0,
      counter_month: 0,
      instructor_id: null,
      instructors: [],
      touched: {
        instructor: false,
      }
    };
  },
  created: function () {
    this.getCounters();
    if ( this.$auth.can('admin_access') ) {
      this.getInstructors();
    }

  },
  mounted() {
    window.$ = window.jQuery = $;
    this.initCalendar($);
  },
  methods: {
    getInstructors: _.debounce( function () {
      (new Instructors()).index()
        .then( response =>  this.instructors = response.data)
        .catch((error) => {
          this.notifyOnError( error.message );
        })
    }, 700 ),
    getCounters: _.throttle( function () {
      this.counter_people = 0;
      this.counter_sessions = 0;
      this.counter_week = 0;
      this.counter_month = 0;

      if ( this.$store.getters.getTotalPeople ) {
        this.counter_people = this.$store.getters.getTotalPeople;
        this.counter_sessions = this.$store.getters.getTotalSessions;
        this.counter_week = this.$store.getters.getTotalWeek;
        this.counter_month = this.$store.getters.getTotalMonthl;
      } else {
        (new Counters()).index()
          .then((response) => {
            this.$store.dispatch('counters', response)
              .then(() => {
                this.counter_people = response.data.counter_people;
                this.counter_sessions = response.data.counter_sessions;
                this.counter_week = response.data.counter_week;
                this.counter_month = response.data.counter_month;
              })
          })
          .catch((error) => {
            this.notifyOnError( error.message );
          })
      }
    }, 2000),
    refresh: function () {
      this.$store.dispatch('reset_counter')
        .then(() => {
          this.getCounters();
          $("#fullCalendar").fullCalendar('refetchEvents');
        })
    },
    initCalendar($) {
      let self = this;
      let id = this.instructor_id;
      let $calendar = $("#fullCalendar");
      $calendar.fullCalendar({
        locale: self.$i18n.locale,
        header: {
          left: "title",
          center: "month,agendaWeek,agendaDay,list",
          right: "prev,next,today"
        },
        nowIndicator: true,
        axisFormat: 'hh:mm a',
        timeFormat: 'hh:mm a',
        googleCalendarApiKey: process.env.MIX_GOOGLE_API_KEY,
        eventSources: [
          {
            url: `${Api.END_POINTS.CALENDAR() }`,
            data: {
              instructor: id,
            }
          },
          {
            googleCalendarId: 'es.co#holiday@group.v.calendar.google.com',
            className: 'event-default',
          }
        ],
        defaultView: 'month',
        defaultDate: today,
        selectable: true,
        selectHelper: true,
        views: {
          month: {
            // name of view
            titleFormat: "MMMM YYYY"
            // other view-specific options here
          },
          week: {
            titleFormat: " MMMM D YYYY"
          },
          day: {
            titleFormat: "D MMM, YYYY"
          }
        },
        eventClick: function (event, jsEvent, view) {
          if (event.url) {
            return false;
          }
          self.$router.push( { name: 'Attendance', params: { id: event.id } } )
        },
        select: function(start, end, jsEvent, view) {
          let programming_date = start.format('YYYY-MM-DD');
          let human_date = start.format('LL');
          let hour = start.format('H');

          // start.isBefore( moment() ) ||

          if ( ( view.name === 'agendaWeek' && ( hour < 7 || hour > 16  ) ) ) {
            $calendar.fullCalendar("unselect");
            return false;
          } else {

            // on select we show the Sweet Alert modal with an input
            Swal.fire({
              title: self.$t('Create Session'),
              text: human_date,
              showCancelButton: true,
              confirmButtonText: self.$t('Create'),
              confirmButtonClass: "md-button md-success",
              cancelButtonText: self.$t('Cancel'),
              cancelButtonClass: "md-button md-danger",
              buttonsStyling: false
            }).then((result) => {
              if (result.value) {
                self.$router.push({ name: "Create Session", params: { date: programming_date } })
              }
              $calendar.fullCalendar("unselect");
            });
          }
        },
        editable: false,
        eventLimit: true, // allow "more" link when too many events
        windowResize: function() {
          let ww = $(window).width();
          let view = (ww <= 768) ? 'list' : 'month';
          let currentView = $('#calendar').fullCalendar('getView');
          if(view !== currentView){
            $calendar.fullCalendar('changeView',view);
          }
        }

        // color classes: [ event-blue | event-azure | event-green | event-orange | event-red ]
        // events: self.events
      });
    },
    onSelectedInstructor: _.debounce(function( id ) {
      if ( id ) {
        let events = {
          url: `${Api.END_POINTS.CALENDAR() }`,
          data: {
            instructor: id,
          }
        };
        let $calendar = $("#fullCalendar");
        $calendar.fullCalendar('removeEventSource', events);
        $calendar.fullCalendar('addEventSource', events);
      }
    }, 700)
  },
  watch: {
    "$i18n.locale" : function () {
      $('#fullCalendar').fullCalendar('option', 'locale', this.$i18n.locale);
    }
  }
};
</script>
<style lang="scss" scoped>
  #fullCalendar {
    min-height: 300px;
  }

  .md-card-calendar {
    .md-card-content {
      padding: 0 !important;
    }
  }

  .text-center {
    text-align: center;
  }
</style>