<template>
  <footer class="footer">
    <div class="container">
      <nav>
        <ul>
          <li>
            <router-link :to="{ path: '/dashboard' }">{{ $t('Dashboard') }}</router-link>
          </li>
        </ul>
      </nav>
      <div class="copyright text-center">
        &copy; {{ new Date().getFullYear() }}
        <a href="https://www.idrd.gov.co" target="_blank">IDRD</a>, {{ $t("made with") }} <i class="fa fa-heart heart"></i> {{ $t("better web") }}
      </div>
    </div>
  </footer>
</template>
<script>
    export default {};
</script>
<style></style>
