<template>
  <form @submit.prevent="onSubmit">
    <md-card>
      <md-card-header class="md-card-header-text md-card-header-blue">
        <div class="card-text">
          <h4 class="title">{{ title }}</h4>
        </div>
      </md-card-header>
      <md-card-content>
        <div class="md-layout" style="padding-bottom: 24px;">

          <vue-element-loading :active="isLoading">
            <atom-spinner
              :size="100"
              color="#00bcd4"
            />
          </vue-element-loading>

          <div class="md-layout-item md-size-100 md-small-size-100">
            <h4 class="card-title"></h4>
            <div class="md-layout">
              <div class="md-layout-item">
                <md-field md-clearable :class="[{ 'md-valid': !errors.has( $t('document_type') ) && form.touched.document_type }, { 'md-error': errors.has( $t('document_type') ) || form.errors.has('document_type') }]">
                  <md-icon>assignment</md-icon>
                  <label for="document_type">{{ $t('document_type').capitalize() }}</label>
                  <md-select v-model.number="form.document_type"
                             v-validate="form.validations.number"
                             :data-vv-name="$t('document_type')"
                             required name="document_type" id="document_type">
                    <md-option v-for="item in document_types" :key="item.id" :value="item.id">{{ item.text }}</md-option>
                  </md-select>
                </md-field>
              </div>

              <div class="md-layout-item">
                <md-field md-clearable :class="[ { 'md-valid': !errors.has( $t('document') ) && form.touched.document }, { 'md-error': errors.has( $t('document') ) || form.errors.has('document') } ]">
                  <md-icon>assignment_ind</md-icon>
                  <label for="document">{{ $t('document').capitalize() }}</label>
                  <md-input
                    v-model.lazy="form.document"
                    name="document" id="document"
                    :data-vv-name="$t('document')"
                    type="text"
                    maxlength="12"
                    autocomplete="off"
                    required v-validate="form.validations.number">
                  </md-input>
                  <slide-y-down-transition>
                    <md-icon class="error" v-show="errors.has( $t('document') ) || form.errors.has('document')">close</md-icon>
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="!errors.has( $t('document') ) && form.touched.document">done</md-icon>
                  </slide-y-down-transition>
                </md-field>
              </div>
            </div>
          </div>

          <div class="md-layout-item md-size-100 md-small-size-100">
            <h4 class="card-title"></h4>
            <div class="md-layout">

              <div class="md-layout-item">
                <md-field md-clearable :class="[ { 'md-valid': !errors.has( $t('name') ) && form.touched.name }, { 'md-error': errors.has( $t('name') ) || form.errors.has('name') } ]">
                  <md-icon>more_horiz</md-icon>
                  <label for="name">{{ $t('name').capitalize() }}</label>
                  <md-input
                    v-model.trim="form.name"
                    name="name" id="name"
                    :data-vv-name="$t('name')"
                    type="text" maxlength="70"
                    autocomplete="off"
                    required v-validate="form.validations.text">
                  </md-input>
                  <slide-y-down-transition>
                    <md-icon class="error" v-show="errors.has( $t('name') ) || form.errors.has('name')">close</md-icon>
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="!errors.has( $t('name') ) && form.touched.name">done</md-icon>
                  </slide-y-down-transition>
                </md-field>
              </div>

              <div class="md-layout-item">
                <md-field md-clearable :class="[ { 'md-valid': !errors.has( $t('lastname') ) && form.touched.lastname }, { 'md-error': errors.has( $t('lastname') ) || form.errors.has('lastname') } ]">
                  <md-icon>more_horiz</md-icon>
                  <label for="lastname">{{ $t('lastname').capitalize() }}</label>
                  <md-input
                    v-model.trim="form.lastname"
                    name="lastname" id="lastname"
                    :data-vv-name="$t('lastname')"
                    type="text" maxlength="70"
                    autocomplete="off"
                    v-validate="form.validations.text">
                  </md-input>
                  <slide-y-down-transition>
                    <md-icon class="error" v-show="errors.has( $t('lastname') ) || form.errors.has('lastname')">close</md-icon>
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="!errors.has( $t('lastname') ) && form.touched.lastname">done</md-icon>
                  </slide-y-down-transition>
                </md-field>
              </div>

            </div>
          </div>

          <div class="md-layout-item md-size-100 md-small-size-100">
            <h4 class="card-title"></h4>
            <div class="md-layout">
              <div class="md-layout-item">

                <v-dialog ref="dialog"
                          v-model="menu"
                          :return-value.sync="form.birthday"
                          persistent
                          lazy
                          full-width
                          width="290px">
                  <template v-slot:activator="{ on }">
                    <md-field md-clearable :class="[ {'md-valid': !errors.has( $t('birthday') ) && form.touched.birthday}, {'md-error': errors.has( $t('birthday') )}]">
                      <md-icon>event</md-icon>
                      <label for="birthday">{{ $t('birthday').capitalize() }}</label>
                      <md-input
                        :data-vv-name="$t('birthday')"
                        name="birthday"
                        readonly
                        v-validate="'date_format:yyyy-MM-dd|required'"
                        id="birthday"
                        v-model="form.birthday"
                        v-on="on"
                        autocomplete="off">
                      </md-input>
                      <slide-y-down-transition>
                        <md-icon class="error" v-show="errors.has( $t('birthday') ) || form.errors.has('birthday')">close</md-icon>
                      </slide-y-down-transition>
                      <slide-y-down-transition>
                        <md-icon class="success" v-show="!errors.has( $t('birthday') ) && form.touched.birthday">done</md-icon>
                      </slide-y-down-transition>
                    </md-field>
                  </template>
                  <v-date-picker color="blue lighten-1"
                                 locale="es-es"
                                 :min="moment().subtract(80, 'years').toISOString()"
                                 :max="moment().subtract(18, 'years').toISOString()"
                                 ref="picker" header-color="blue" v-model="form.birthday" scrollable>
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                    <v-btn flat color="primary" @click="save(form.birthday)">OK</v-btn>
                  </v-date-picker>
                </v-dialog>


              </div>
              <div class="md-layout-item">
                <md-field :class="[ {'md-valid': !errors.has( $t('age') ) && form.touched.age}, {'md-error': errors.has( $t('age') ) || form.errors.has('birthday')}]">
                  <md-icon>face</md-icon>
                  <label for="age">{{ $t('age').capitalize() }}</label>
                  <md-input
                    v-model.number="form.age"
                    name="age" id="age"
                    min="18"
                    max="80"
                    readonly
                    v-validate="form.validations.number"
                    :data-vv-name="$t('age')"
                    type="number"
                    autocomplete="off">
                  </md-input>
                  <slide-y-down-transition>
                    <md-icon class="error" v-show="errors.has( $t('age') ) || form.errors.has('birthday')">close</md-icon>
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="!errors.has( $t('age') ) && form.touched.age">done</md-icon>
                  </slide-y-down-transition>
                </md-field>
              </div>
            </div>
          </div>

          <div class="md-layout-item md-size-100 md-small-size-100">
            <h4 class="card-title"></h4>
            <div class="md-layout">

              <div class="md-layout-item">
                <md-field md-clearable :class="[{ 'md-valid': !errors.has( $t('sex') ) && form.touched.sex }, { 'md-error': errors.has( $t('sex') ) || form.errors.has('sex') }]">
                  <md-icon>portrait</md-icon>
                  <label for="sex">{{ $t('sex').capitalize() }}</label>
                  <md-select v-model.number="form.sex"
                             v-validate="form.validations.number"
                             :data-vv-name="$t('sex')"
                             required name="sex" id="sex">
                    <md-option v-for="item in sex" :key="item.id" :value="item.id">{{ item.text }}</md-option>
                  </md-select>
                </md-field>
              </div>

              <div class="md-layout-item">
                <md-field md-clearable :class="[{ 'md-valid': !errors.has( $t('gender') ) && form.touched.gender }, { 'md-error': errors.has( $t('gender') ) || form.errors.has('gender') }]">
                  <md-icon>portrait</md-icon>
                  <label for="gender">{{ $t('gender').capitalize() }}</label>
                  <md-select v-model.number="form.gender"
                             v-validate="form.validations.number"
                             :data-vv-name="$t('gender')"
                             required name="gender" id="gender">
                    <md-option v-for="item in genders" :key="item.id" :value="item.id">{{ item.text }}</md-option>
                  </md-select>
                </md-field>
              </div>

            </div>
          </div>

          <div class="md-layout-item md-size-100 md-small-size-100">
            <h4 class="card-title"></h4>
            <div class="md-layout">

              <div class="md-layout-item">
                <md-field md-clearable :class="[{ 'md-valid': !errors.has( $t('ethnic_group') ) && form.touched.ethnic_group }, { 'md-error': errors.has( $t('ethnic_group') ) || form.errors.has('ethnic_group') }]">
                  <md-icon>portrait</md-icon>
                  <label for="ethnic_group">{{ $t('ethnic_group').capitalize() }}</label>
                  <md-select v-model.number="form.ethnic_group"
                             v-validate="form.validations.number"
                             :data-vv-name="$t('ethnic_group')"
                             required name="ethnic_group" id="ethnic_group">
                    <md-option v-for="item in ethnic_groups" :key="item.id" :value="item.id">{{ item.text }}</md-option>
                  </md-select>
                </md-field>
              </div>

              <div class="md-layout-item">
                <md-field md-clearable :class="[{ 'md-valid': !errors.has( $t('social_group') ) && form.touched.social_group }, { 'md-error': errors.has( $t('social_group') ) || form.errors.has('social_group') }]">
                  <md-icon>portrait</md-icon>
                  <label for="social_group">{{ $t('social_group').capitalize() }}</label>
                  <md-select v-model.number="form.social_group"
                             v-validate="form.validations.number"
                             :data-vv-name="$t('social_group')"
                             @md-selected="onSelectSocialGroup"
                             required name="social_group" id="social_group">
                    <md-option v-for="item in social_groups" :key="item.id" :value="item.id">{{ item.text }}</md-option>
                  </md-select>
                </md-field>
              </div>

              <div class="md-layout-item">
                <md-field md-clearable :class="[{ 'md-valid': !errors.has( $t('situation') ) && form.touched.situation }, { 'md-error': errors.has( $t('situation') ) || form.errors.has('situation') }]">
                  <md-icon>portrait</md-icon>
                  <label for="situation">{{ label_population.capitalize() }}</label>
                  <md-select v-model.number="form.situation"
                             v-validate="{ required: !disabled_population, numeric: true }"
                             :data-vv-name="$t('situation')"
                             :disabled="disabled_population"
                             :required="!disabled_population" name="situation" id="situation">
                    <md-option v-for="item in selected_population" :key="item.id" :value="item.id">{{ item.text }}</md-option>
                  </md-select>
                </md-field>
              </div>

            </div>
          </div>

          <div class="md-layout-item md-size-100 md-small-size-100">
            <h4 class="card-title"></h4>
            <div class="md-layout">

              <div class="md-layout-item">
                <md-field md-clearable :class="[{ 'md-valid': !errors.has( $t('residence_location') ) && form.touched.residence_location }, { 'md-error': errors.has( $t('residence_location') ) || form.errors.has('residence_location') }]">
                  <md-icon>add_location</md-icon>
                  <label for="residence_location">{{ $t('residence_location').capitalize() }}</label>
                  <md-select v-model.number="form.residence_location"
                             v-validate="form.validations.number"
                             :data-vv-name="$t('residence_location')"
                             required name="residence_location" id="residence_location">
                    <md-option v-for="item in residence_locations" :key="item.id" :value="item.id">{{ item.text }}</md-option>
                  </md-select>
                </md-field>
              </div>

              <div class="md-layout-item">
                <md-field md-clearable :class="[ { 'md-valid': !errors.has( $t('eps') ) && form.touched.eps }, { 'md-error': errors.has( $t('eps') ) || form.errors.has('eps') } ]">
                  <md-icon>create_new_folder</md-icon>
                  <label for="eps">{{ $t('eps').capitalize() }}</label>
                  <md-input
                    v-model.trim="form.eps"
                    name="eps" id="eps"
                    :data-vv-name="$t('eps')"
                    type="text" maxlength="70"
                    autocomplete="off"
                    required
                    v-validate="form.validations.text">
                  </md-input>
                  <slide-y-down-transition>
                    <md-icon class="error" v-show="errors.has( $t('eps') ) || form.errors.has('eps')">close</md-icon>
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="!errors.has( $t('eps') ) && form.touched.eps">done</md-icon>
                  </slide-y-down-transition>
                </md-field>
              </div>

            </div>
          </div>

          <div class="md-layout-item md-size-100 md-small-size-100">
            <h4 class="card-title"></h4>
            <div class="md-layout">

              <div class="md-layout-item">
                <md-field md-clearable :class="[ { 'md-valid': !errors.has( $t('email') ) && form.touched.email }, { 'md-error': errors.has( $t('email') ) || form.errors.has('email') } ]">
                  <md-icon>alternate_email</md-icon>
                  <label for="email">{{ $t('email').capitalize() }}</label>
                  <md-input
                    v-model.trim="form.email"
                    name="email" id="email"
                    :data-vv-name="$t('email')"
                    type="email" maxlength="100"
                    autocomplete="off"
                    v-validate="form.validations.email">
                  </md-input>
                  <slide-y-down-transition>
                    <md-icon class="error" v-show="errors.has( $t('email') ) || form.errors.has('email')">close</md-icon>
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="!errors.has( $t('email') ) && form.touched.email">done</md-icon>
                  </slide-y-down-transition>
                </md-field>
              </div>

              <div class="md-layout-item">
                <md-field md-clearable :class="[ { 'md-valid': !errors.has( $t('phone_or_mobile') ) && form.touched.phone_or_mobile }, { 'md-error': errors.has( $t('phone_or_mobile') ) || form.errors.has('phone_or_mobile') } ]">
                  <md-icon>phone</md-icon>
                  <label for="phone_or_mobile">{{ $t('phone_or_mobile').capitalize() }}</label>
                  <md-input
                    v-model.trim="form.phone_or_mobile"
                    name="phone_or_mobile" id="phone_or_mobile"
                    :data-vv-name="$t('phone_or_mobile')"
                    type="text" maxlength="10"
                    required
                    autocomplete="off"
                    v-validate="form.validations.mobile">
                  </md-input>
                  <slide-y-down-transition>
                    <md-icon class="error" v-show="errors.has( $t('phone_or_mobile') ) || form.errors.has('phone_or_mobile')">close</md-icon>
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="!errors.has( $t('phone_or_mobile') ) && form.touched.phone_or_mobile">done</md-icon>
                  </slide-y-down-transition>
                </md-field>
              </div>

            </div>
          </div>

        </div>
      </md-card-content>
      <md-card-actions >
        <md-button
          native-type="submit"
          type="submit"
          :disabled="isLoading"
          @click.native.prevent="onSubmit"
          class="md-info"
        >{{ $t('Send') }}</md-button>
      </md-card-actions>
    </md-card>
  </form>
</template>

<script>
  import moment from "moment"
  import VueElementLoading from 'vue-element-loading'
  import { AtomSpinner } from 'epic-spinners'
  import { SlideYDownTransition } from "vue2-transitions";
  import {Participant} from "@/models/services/Participant";
  import {Init} from "@/models/services/Init";
  import {Sex} from "@/models/services/Sex";
  import {Gender} from "@/models/services/Gender";
  import {Ethnic} from "@/models/services/Ethnic";
  import {SocialGroup} from "@/models/services/SocialGroup";
  import {Locations} from "@/models/services/Locations";
  import {Population} from "@/models/services/Population";

  export default {
    name: "ParticipantForm",
    props: {
      participant: Object,
    },
    components: {
      SlideYDownTransition,
      AtomSpinner,
      VueElementLoading
    },
    data:() => ({
        title: null,
        moment: moment,
        menu: false,
        svg: true,
        form: new Participant({
          document_type: null,
          document: null,
          name: null,
          lastname: null,
          birthday: null,
          age: null,
          email: null,
          sex: null,
          gender: null,
          ethnic_group: null,
          social_group: null,
          situation: null,
          eps: null,
          residence_location: null,
          phone_or_mobile: null
        }),
        document_types: [],
        sex: [],
        genders: [],
        ethnic_groups: [],
        social_groups: [],
        residence_locations: [],
        population: [],
        label_population: '',
        disabled_population: true,
        selected_population: [],
      }),
    created: function() {
      this.axiosInterceptor();
      this.onInit();
      this.title = this.$t("Create Participant");
    },
    methods: {
      onInit: function () {
        if( this.$store.getters.selectsHasNotBeenStored ) {
          (new Init()).index()
            .then((response) => {
              this.$store.dispatch('set_initial_data_selects', response)
                .then(() => {
                  this.document_types = response.data.document_types.map( (data) => {
                    return {
                      id: data.id,
                      text: `${data.name} - ${data.description}`,
                    }
                  });
                  this.sex = response.data.sex;
                  this.genders = response.data.genders;
                  this.ethnic_groups = response.data.ethnic_groups;
                  this.social_groups = response.data.social_groups;
                  this.residence_locations = response.data.residence_locations;
                  this.population = response.data.population;
                })
            })
            .catch((error) => {
              this.notifyOnError( error.message );
            })
            .finally(() => {
              this.onEdit();
            });
        } else {
          if ( this.$store.getters.getStoredDocumentTypes ) {
            this.document_types = this.$store.getters.getStoredDocumentTypes;
          } else { this.getDocumentTypes() }
          if ( this.$store.getters.getStoredSex ) {
            this.sex = this.$store.getters.getStoredSex;
          } else { this.getSex() }
          if ( this.$store.getters.getStoredGenders ) {
            this.genders = this.$store.getters.getStoredGenders;
          } else { this.getGenders() }
          if ( this.$store.getters.getStoredEthnicGroups ) {
            this.ethnic_groups = this.$store.getters.getStoredEthnicGroups;
          } else { this.getEthnicGroups() }
          if ( this.$store.getters.getStoredSocialGroups ) {
            this.social_groups = this.$store.getters.getStoredSocialGroups;
          } else { this.getSocialGroups() }
          if ( this.$store.getters.getStoredResidenceLocations ) {
            this.residence_locations = this.$store.getters.getStoredResidenceLocations;
          } else { this.getLocations() }
          if ( this.$store.getters.getStoredPopulation ) {
            this.population = this.$store.getters.getStoredPopulation;
          } else { this.getPopulation() }
          if ( this.$route.params.id ) {
            this.onEdit();
          }
        }
      },
      onEdit: function () {
        if ( this.participant && this.$route.params.id ) {
          this.title = this.$t("Edit Participant");
          this.form.age = moment( this.participant.birthday ).isValid() ? moment().diff( this.participant.birthday, 'years' ) : null;
          this.form = new Participant( this.participant );
        } else if ( !this.participant && this.$route.params.id ) {
          this.title = this.$t("Edit Participant");
          ( new Participant({}) ).show( this.$route.params.id )
            .then((response) => {
              this.form = new Participant( response.data );
              this.form.age = moment( response.data.birthday ).isValid() ? moment().diff( response.data.birthday, 'years' ) : null;
            })
            .catch((error) => {
              this.notifyOnError( error.message );
            })
        }
      },
      getDocumentTypes: function () {
        (new DocumentType()).index()
          .then((response) => {
            this.$store.dispatch('set_document_types', response)
              .then(() => {
                this.document_types = response.data.map( (data) => {
                  return {
                    id: data.id,
                    text: `${data.name} - ${data.description}`,
                  }
                });
              })
          })
          .catch((error) => {
            this.notifyOnError( error.message );
          })
      },
      getSex: function () {
        (new Sex()).index()
          .then((response) => {
            this.$store.dispatch('set_sex', response)
              .then(() => {
                this.sex = response.data;
              })
          })
          .catch((error) => {
            this.notifyOnError( error.message );
          })
      },
      getGenders: function () {
        (new Gender()).index()
          .then((response) => {
            this.$store.dispatch('set_genders', response)
              .then(() => {
                this.genders = response.data;
              })
          })
          .catch((error) => {
            this.notifyOnError( error.message );
          })
      },
      getEthnicGroups: function () {
        (new Ethnic()).index()
          .then((response) => {
            this.$store.dispatch('set_ethnic_groups', response)
              .then(() => {
                this.ethnic_groups = response.data;
              })
          })
          .catch((error) => {
            this.notifyOnError( error.message );
          })
      },
      getSocialGroups: function () {
        (new SocialGroup()).index()
          .then((response) => {
            this.$store.dispatch('set_social_groups', response)
              .then(() => {
                this.social_groups = response.data;
              });
          })
          .catch((error) => {
            this.notifyOnError( error.message );
          })
      },
      getLocations: function () {
        (new Locations()).index()
          .then((response) => {
            this.$store.dispatch('set_residence_locations', response)
              .then(() => {
                this.residence_locations = response.data;
              });
          })
          .catch((error) => {
            this.notifyOnError( error.message );
          })
      },
      getPopulation: function () {
        (new Population()).index()
          .then((response) => {
            this.$store.dispatch('set_population', response)
              .then(() => {
                this.population = response.data;
              });
          })
          .catch((error) => {
            this.notifyOnError( error.message );
          })
      },
      getPopulationById: function (id) {
        this.disabled_population = true;
        (new Population()).show( id )
          .then((response) => {
            this.disabled_population = false;
            this.selected_population = response.data;
          })
          .catch((error) => {
            this.disabled_population = false;
            this.notifyOnError( error.message );
          })
      },
      onSubmit: function () {
        this.$validator.validateAll().then( isValid => {
          this.$emit('on-submit', this.form, isValid)
        })
      },
      disabledDates: date => {
        return moment(date) >= moment().subtract(18, 'years') && moment(date) <= moment().subtract(80, 'years')
      },
      onSelectSocialGroup: function (selected) {
        if ( selected ) {
          let data = this.social_groups.filter(s => s.id === selected);
          if ( data[0].has_select ) {
            this.disabled_population = false;

            this.label_population = ( selected === 7 ) ? this.$t('LGBTI')
                                  : ( selected === 8 ) ? this.$t('condition_type') : '';

            if ( this.population.length > 0 ) {
              this.selected_population = this.population.filter(v => v.population_id === selected );
            } else {
              this.getPopulationById( selected );
            }
          }
        } else {
          this.label_population = '';
          this.disabled_population = true;
          this.selected_population = [];
        }
      },
      save: function (date) {
        this.$refs.dialog.save(date);
        this.form.age = moment( date ).isValid() ? moment().diff( date, 'years' ) : null;
      }
    },
    watch: {
      menu (val) {
        val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
      },
      'form.document_type': function () {
        this.form.touched.document_type = true;
      },
      'form.document': function () {
        this.form.touched.document = true;
      },
      'form.name': function () {
        this.form.touched.name = true;
      },
      'form.lastname': function () {
        this.form.touched.lastname = true;
      },
      'form.birthday': function () {
        this.form.touched.birthday = true;
      },
      'form.age': function () {
        this.form.touched.age = true;
      },
      'form.email': function () {
        this.form.touched.email = true;
      },
      'form.sex': function () {
        this.form.touched.sex = true;
      },
      'form.gender': function () {
        this.form.touched.gender = true;
      },
      'form.ethnic_group': function () {
        this.form.touched.ethnic_group = true;
      },
      'form.social_group': function () {
        this.form.touched.social_group = true;
      },
      'form.eps': function () {
        this.form.touched.eps = true;
      },
      'form.residence_location': function () {
        this.form.touched.residence_location = true;
      },
      'form.phone_or_mobile': function () {
        this.form.touched.phone_or_mobile = true;
      },
    }
  }
</script>

<style scoped>

</style>