<template>
    <div class="md-layout">
      <div class="md-layout-item md-size-100 md-small-size-100 md-xsmall-size-100 mx-auto">
        <md-card>
          <md-card-header class="md-card-header-icon md-card-header-blue">
            <div class="card-icon">
              <md-icon>description</md-icon>
            </div>
            <h4 class="title">{{ $t('Attendance Report') }}</h4>
          </md-card-header>
          <md-card-content>
            <div v-if="$auth.can( 'admin_access')" class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-small-size-100 md-large-size-100 md-size-80 mx-auto">
              <md-card>
                <md-card-content>
                  <div class="md-layout-item">
                    <md-field md-clearable :class="[{ 'md-valid': !errors.has( $t('instructor') ) && touched.instructor }, { 'md-error': errors.has( $t('instructor') ) }]">
                      <md-icon>event</md-icon>
                      <label for="schedule">{{ $t('instructor').capitalize() }}</label>
                      <md-select v-model="form.instructor"
                                 :data-vv-name="$t('instructor')"
                                 required name="instructor" id="instructor">
                        <md-option v-for="item in instructors" :key="item.id" :value="item.id">{{ item.name }}</md-option>
                      </md-select>
                    </md-field>
                  </div>
                </md-card-content>
              </md-card>
            </div>
            <div class="md-layout-item md-small-size-100 md-xsmall-size-100 md-medium-size-100 md-size-100">
              <h4 class="card-title"></h4>
              <div class="md-layout">
                <div class="md-layout-item">
                  <v-dialog ref="dialog"
                            v-model="menu"
                            :return-value.sync="form.start_day"
                            persistent
                            lazy
                            full-width
                            width="290px">
                    <template v-slot:activator="{ on }">
                      <md-field md-clearable :class="[ {'md-valid': !errors.has( $t('start_day') ) && touched.start_day}, {'md-error': errors.has( $t('start_day') )}]">
                        <md-icon>event</md-icon>
                        <label for="start_day">{{ $t('start_day').capitalize() }}</label>
                        <md-input :data-vv-name="$t('start_day')"
                                  name="start_day" readonly
                                  v-validate="'date_format:yyyy-MM-dd|required'"
                                  id="start_day" v-model="form.start_day" v-on="on"
                                  autocomplete="off">
                        </md-input>
                        <slide-y-down-transition>
                          <md-icon class="error" v-show="errors.has( $t('start_day') )">close</md-icon>
                        </slide-y-down-transition>
                        <slide-y-down-transition>
                          <md-icon class="success" v-show="!errors.has( $t('start_day') ) && touched.start_day">done</md-icon>
                        </slide-y-down-transition>
                      </md-field>
                    </template>

                    <v-date-picker color="blue lighten-1"
                                   locale="es-es"
                                   ref="picker" header-color="blue" v-model="form.start_day" scrollable>
                      <v-spacer></v-spacer>
                      <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                      <v-btn flat color="primary" @click="$refs.dialog.save(form.start_day)">OK</v-btn>
                    </v-date-picker>
                  </v-dialog>
                </div>

                <div class="md-layout-item">
                  <v-dialog ref="dialog2"
                            v-model="menu2"
                            :return-value.sync="form.end_day"
                            persistent
                            lazy
                            full-width
                            width="290px">
                    <template v-slot:activator="{ on }">
                      <md-field md-clearable :class="[ {'md-valid': !errors.has( $t('end_day') ) && touched.end_day}, {'md-error': errors.has( $t('end_day') )}]">
                        <md-icon>event</md-icon>
                        <label for="end_day">{{ $t('end_day').capitalize() }}</label>
                        <md-input :data-vv-name="$t('end_day')"
                                  name="end_day" readonly
                                  v-validate="'date_format:yyyy-MM-dd|required'"
                                  id="end_day" v-model="form.end_day" v-on="on"
                                  autocomplete="off">
                        </md-input>
                        <slide-y-down-transition>
                          <md-icon class="error" v-show="errors.has( $t('end_day') )">close</md-icon>
                        </slide-y-down-transition>
                        <slide-y-down-transition>
                          <md-icon class="success" v-show="!errors.has( $t('end_day') ) && touched.end_day">done</md-icon>
                        </slide-y-down-transition>
                      </md-field>
                    </template>

                    <v-date-picker color="blue lighten-1"
                                   :min="form.start_day"
                                   locale="es-es"
                                   ref="picker2" header-color="blue" v-model="form.end_day" scrollable>
                      <v-spacer></v-spacer>
                      <v-btn flat color="primary" @click="menu2 = false">Cancel</v-btn>
                      <v-btn flat color="primary" @click="$refs.dialog2.save(form.end_day)">OK</v-btn>
                    </v-date-picker>
                  </v-dialog>
                </div>

                <div class="md-layout-item">
                  <md-field md-clearable :class="[{ 'md-valid': !errors.has( $t('schedule') ) && touched.schedule }, { 'md-error': errors.has( $t('schedule') ) }]">
                    <md-icon>event</md-icon>
                    <label for="schedule">{{ $t('schedule').capitalize() }}</label>
                    <md-select v-model="form.schedule"
                               v-validate="'required'"
                               :data-vv-name="$t('schedule')"
                               required name="schedule" id="schedule">
                      <md-option v-for="item in schedule" :key="item.id" :value="item.id">{{ item.text }}</md-option>
                    </md-select>
                  </md-field>
                </div>

                <div class="md-layout-item">
                  <md-field md-clearable :class="[{ 'md-valid': !errors.has( $t('park') ) && touched.park }, { 'md-error': errors.has( $t('park') ) }]">
                    <md-icon>room</md-icon>
                    <label for="park">{{ $t('park').capitalize() }}</label>
                    <md-select v-model.number="form.park"
                               v-validate="'required'"
                               :data-vv-name="$t('park')"
                               required name="park" id="park">
                      <md-option v-for="item in stage" :key="item.id" :value="item.id">{{ item.text }}</md-option>
                    </md-select>
                  </md-field>
                </div>
              </div>
            </div>
          </md-card-content>
          <md-card-actions>
            <form :action="api.END_POINTS.REPORT_ATTENDANCE()" method="POST" target="_blank" >
              <input type="hidden" name="_token" :value="token.content">
              <input type="hidden" name="start_day" :value="form.start_day">
              <input type="hidden" name="end_day" :value="form.end_day">
              <input type="hidden" name="schedule" :value="form.schedule">
              <input type="hidden" name="park" :value="form.park">
              <input type="hidden" name="instructor" :value="form.instructor">
              <md-button type="submit" class="md-info">
                <md-icon>print</md-icon>
                {{ $t("Report") }}
              </md-button>
            </form>
          </md-card-actions>
        </md-card>
      </div>
    </div>
</template>

<script>
  import { SlideYDownTransition } from "vue2-transitions";
  import {Api} from "@/models/Api";
  import {Stage} from "@/models/services/Stage";
  import {Instructors} from "@/models/services/Instructors";
  export default {
    name: "Report",
    components: {
      SlideYDownTransition
    },
    data: () => {
      return {
        api: Api,
        menu: false,
        menu2: false,
        token: document.head.querySelector('meta[name="csrf-token"]'),
        schedule: [
          { id: 'AM', text: 'AM' },
          { id: 'PM', text: 'PM' },
        ],
        stage: [],
        instructors: [],
        form: {
          start_day: null,
          end_day: null,
          schedule: null,
          park: null,
          instructor: null
        },
        touched: {
          start_day: false,
          end_day: false,
          schedule: false,
          park: false,
          instructor: false,
        },
      }
    },
    created: function() {
      this.getStage();
      if ( this.$auth.can('admin_access') ) {
        this.getInstructors();
      }
    },
    methods: {
      getInstructors: _.debounce( function () {
        (new Instructors()).index()
          .then( response =>  this.instructors = response.data)
          .catch((error) => {
            this.notifyOnError( error.message );
          })
      }, 700 ),

      getStage: function () {
        this.loading = true;
        (new Stage()).index()
          .then((response) => {
            this.stage = response.data;
          })
          .catch((error) => {
            this.notifyOnError( error.message )
          })
          .finally(() => {
            this.loading = false;
          })
      },
    },
    watch: {
      'form.instructor': function () {
        this.touched.instructor = true;
      },
      'form.start_day': function () {
        this.touched.start_day = true;
      },
      'form.end_day': function () {
        this.touched.end_day = true;
      },
      'form.schedule': function () {
        this.touched.day = true;
      },
      'form.park': function () {
        this.touched.park = true;
      },
    }
  }
</script>

<style scoped>

</style>