<template>
  <div class="md-layout">
    <div class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-small-size-100 md-large-size-100 md-size-80 mx-auto">
      <nav-tabs-card>
        <template slot="content">
          <span class="md-nav-tabs-title">{{ $t('Attendance') }}</span>

          <md-tabs :md-dynamic-height="true" class="md-info"  md-alignment="right">

            <md-tab id="tab-attendance" :md-label="$t('Attendance')" md-icon="accessibility">
              <div class="md-layout">
                <div class="md-layout-item md-size-80 md-small-size-100 md-xsmall-size-100 mx-auto">
                  <vue-content-loading v-show="lock_tab_1" :speed="2" primaryColor="#f3f3f3" secondaryColor="#ecebeb">
                    <rect x="70" y="15" rx="4" ry="4" width="117" height="6.4" ></rect>
                    <rect x="70" y="35" rx="3" ry="3" width="85" height="6.4" ></rect>
                    <rect x="0" y="80" rx="3" ry="3" width="350" height="6.4" ></rect>
                    <rect x="0" y="100" rx="3" ry="3" width="380" height="6.4" ></rect>
                    <rect x="0" y="120" rx="3" ry="3" width="201" height="6.4" ></rect>
                    <circle cx="30" cy="30" r="30" > </circle>
                  </vue-content-loading>
                </div>
                <div class="md-layout-item md-size-80 md-small-size-100 md-xsmall-size-100 mx-auto" style="padding-top: 30px">
                  <vcl-table :columns="5" :rows="8" v-show="lock_tab_1"></vcl-table>
                </div>
              </div>
              <div v-if="session && !lock_tab_1" class="md-layout">
                <p class="card-title"></p>
                <md-card v-if="session">
                  <md-card-header class="md-card-header-icon md-card-header-blue">
                    <div class="card-icon">
                      <md-icon>assignment</md-icon>
                    </div>
                  </md-card-header>
                  <md-card-content>
                    <h4 class="title">{{ $t('Attendance') }} {{ $t('Sessions') }} #{{ $route.params.id }}</h4>
                    <p class="category text-gray"> <i class="fas fa-map-marker-alt"></i> {{ session.park_name }} </p>
                    <p class="category text-gray"> <i class="fas fa-calendar"></i> {{ session.day }} {{ session.schedule }} / {{ session.initial_time }} - {{ session.end_time }}</p>
                    <md-table v-model="session.participants">
                      <md-table-row slot="md-table-row" slot-scope="{ item }">
                        <md-table-cell>{{ item.participant }}</md-table-cell>
                        <md-table-cell>
                          <md-button :disabled="isLoading" class="md-round md-just-icon md-danger" @click="onClick(item)">
                            <md-tooltip md-direction="top">{{ $t('Remove Attendance') }}</md-tooltip>
                            <md-icon>close</md-icon>
                          </md-button>
                        </md-table-cell>
                      </md-table-row>
                    </md-table>
                  </md-card-content>
                </md-card>
              </div>
            </md-tab>

            <md-tab id="tab-images" :md-label="$t('Images')" md-icon="images">
              <div class="md-layout">
                <div class="md-layout-item md-size-50 md-small-size-100 md-xsmall-size-100 mx-auto">
                  <vue-content-loading v-show="lock_tab_2" :height="600" :width="800"  primaryColor="#f3f3f3" secondaryColor="#ecebeb">
                    <rect x="56.07" y="19.96" rx="0" ry="0" width="692.737" height="321.94249999999994"></rect>
                    <circle cx="291.1059431049363" cy="391.67594310493627" r="31.355943104936266" ></circle>
                    <circle cx="398.81594310493625" cy="391.67594310493627" r="31.355943104936266" ></circle>
                    <circle cx="506.5259431049363" cy="391.67594310493627" r="31.355943104936266" ></circle>
                  </vue-content-loading>
                </div>
              </div>
              <md-empty-state v-show="(images.length < 1 && !lock_tab_2) && !upload_images" md-icon="panorama" :md-label="$t('No Images')" :md-description="$t('no data')">
                <md-button class="md-info md-raised" @click="upload_images = true">{{ $t('Upload Images') }}</md-button>
                <md-button class="md-warning md-raised" @click="getImages()">{{ $t('Reload') }}</md-button>
              </md-empty-state>
              <form v-if="upload_images && !lock_tab_2">
                <div class="md-layout">
                  <md-card>
                    <md-card-content>
                      <div class="md-layout">

                        <vue-element-loading :active="isLoading && !loading">
                          <atom-spinner :size="100" color="#00bcd4"/>
                        </vue-element-loading>

                        <div class="md-layout-item md-xsmall-size-100 md-small-size-100 md-size-50">
                          <h4 class="card-title"></h4>
                          <croppa v-model="image"
                                  :width="200"
                                  :height="200"
                                  auto-sizing
                                  :placeholder="$t('Click here to upload image')"
                                  :placeholder-font-size="16"
                                  :prevent-white-space="true"
                                  :show-remove-button="true"
                                  remove-button-color="black"
                                  :remove-button-size="50"
                                  :show-loading="true"
                                  :quality="5"
                                  :loading-size="50">
                          </croppa>
                          <br>
                          <md-button class="md-simple md-just-icon" @click="image.rotate()"><md-icon>crop_rotate</md-icon></md-button>
                          <md-button class="md-simple md-just-icon" @click="image.flipY()"><md-icon>flip</md-icon></md-button>
                          <md-button class="md-simple md-just-icon" @click="image.flipX()"><md-icon>flip</md-icon></md-button>
                          <md-button class="md-simple md-just-icon" @click="image.zoomIn()"><md-icon>zoom_in</md-icon></md-button>
                          <md-button class="md-simple md-just-icon" @click="image.zoomOut()"><md-icon>zoom_out</md-icon></md-button>
                        </div>
                        <div class="md-layout-item md-xsmall-size-100 md-small-size-100 md-size-50">
                          <h4 class="card-title"></h4>
                          <md-field md-clearable :class="[ { 'md-valid': !errors.has( `${$t('description')}` ) }, { 'md-error': errors.has( `${$t('description')}` ) } ]">
                            <label for="description">{{ $t('description').capitalize() }}</label>
                            <md-textarea
                              v-model="form.description"
                              name="description" id="description"
                              :data-vv-name="`${$t('description')}`"
                              v-validate="'required|min:6|max:2500'"
                              type="text"
                              required
                              maxlength="2500"
                              autocomplete="off">
                            </md-textarea>
                          </md-field>
                        </div>
                      </div>
                    </md-card-content>
                    <md-card-actions>
                      <md-button native-type="submit" @click.native.prevent="validate" :disabled="isLoading" class="md-info">{{ $t("Upload Images") }}</md-button>
                      <md-button native-type="submit" @click.native.prevent="upload_images = false" :disabled="isLoading" class="md-info">{{ $t("Cancel") }}</md-button>
                    </md-card-actions>
                  </md-card>
                </div>
              </form>
              <div v-if="images.length > 0 && !lock_tab_2 && !upload_images" class="content">
                <div class="md-layout">
                  <md-card class="elevation-0">
                    <md-card-header>
                      <md-card-header-text>
                        <div class="md-title">{{ $t('Images') }}</div>
                      </md-card-header-text>

                      <md-menu md-size="auto" md-direction="bottom-end">
                        <md-button class="md-info md-round md-just-icon" md-menu-trigger>
                          <md-icon>more_vert</md-icon>
                        </md-button>
                        <md-menu-content>
                          <md-menu-item @click="upload_images = true">
                            <md-icon>add</md-icon>
                            {{ $t('Upload Images') }}
                          </md-menu-item>

                          <md-menu-item @click="getImages( $route.params.id )">
                            <md-icon>autorenew</md-icon>
                            {{ $t('Reload') }}
                          </md-menu-item>
                        </md-menu-content>
                      </md-menu>
                    </md-card-header>
                    <md-card-content>

                      <v-card
                        elevation="0"
                        max-width="600"
                        class="mx-auto"
                      >

                        <v-carousel v-model="current_image" cycle>
                          <v-carousel-item lazy v-for="(slide, i) in images" :src="slide.path" :key="slide.id">
                          </v-carousel-item>
                        </v-carousel>

                        <p class="display-1 text-white">{{ current_file.filename }}</p>
                        <br>
                        <small class="subheading text-white">{{ current_file.description }}</small>
                        <br>
                        <small class="subheading text-white">{{ current_file.created_at }}</small>

                        <v-card-actions>
                          <md-button class="md-just-icon md-warning md-simple" target="_blank" :href="current_file.path">
                            <md-icon>cloud_download</md-icon>
                            <md-tooltip md-direction="top">{{ $t('Download') }}</md-tooltip>
                          </md-button>
                          <md-button class="md-just-icon md-danger md-simple"  @click="onDelete(current_file.id)">
                            <md-icon>delete</md-icon>
                            <md-tooltip md-direction="top">{{ $t('Delete') }}</md-tooltip>
                          </md-button>
                        </v-card-actions>

                      </v-card>

                    </md-card-content>
                  </md-card>
                </div>
              </div>
            </md-tab>

          </md-tabs>


        </template>
      </nav-tabs-card>
    </div>
    <modal v-if="showAlert" @close="showAlert = false">
      <template slot="header">
        <h4 class="modal-title">{{ $t('important') }}</h4>
        <md-button class="md-simple md-just-icon md-round modal-default-button" @click="showAlert = false">
          <md-icon>clear</md-icon>
        </md-button>
      </template>
      <template slot="body">
        <div class="instruction">
          <div class="md-layout">
            <div class="md-layout-item">
              <p class="description">
                Al crear la sesión, los participantes automáticamente quedan con la asistencia marcada, no es necesario marcar la asistencia.
                Al presionar el botón <md-button class="md-round md-just-icon md-success md-small"><md-icon >check</md-icon></md-button>
                eliminará al participante de la sesión indicando que no asistió. Esta alerta dejará de verse el 2019-07-26.
              </p>
            </div>
          </div>
        </div>
      </template>
    </modal>
  </div>
</template>

<script>
  import Swal from "sweetalert2";
  import {NavTabsCard, Modal} from "@/components"
  import VueElementLoading from 'vue-element-loading'
  import { AtomSpinner } from 'epic-spinners'
  import {Attendance} from "@/models/services/Attendance";
  import {Session} from "@/models/services/Session";
  import {Api} from "@/models/Api";
  import moment from 'moment'

  export default {
    name: "Attendance",
    components: {
      NavTabsCard,
      AtomSpinner,
      VueElementLoading,
      Modal
    },
    data: () => ({
      current_image: 0,
      showAlert: false,
      upload_images: false,
      lock_tab_1: true,
      lock_tab_2: false,
      session: null,
      image: null,
      form: {
        description: null,
      },
      images: []
    }),
    created() {
      this.axiosInterceptor();
      this.onInit();
      this.showAlert = moment().isBefore( moment('2019-07-26') );
    },
    methods: {
      async validate () {
        let image = await this.image.promisedBlob();
        this.$validator.validateAll().then(isValid => {
          if ( this.image.hasImage() && isValid ) {
            let form_data = new FormData();
            form_data.append('image', image, this.image.getChosenFile().name);
            form_data.append('description', this.form.description);
            form_data.append('session_id', this.$route.params.id);
            let config = {
              header : {
                'Content-Type' : 'multipart/form-data'
              }
            };

            window.axios.post( Api.END_POINTS.IMAGES(), form_data, config)
              .then((response) => {
                this.form.description = '';
                this.$notify({
                  message: response.data.data,
                  icon: "add_alert",
                  horizontalAlign: 'center',
                  verticalAlign: 'top',
                  type: 'success'
                });
                this.getImages();
              })
              .catch((error) => {
                this.$notify({
                  message: error.message || this.unexpected,
                  icon: "add_alert",
                  horizontalAlign: 'center',
                  verticalAlign: 'top',
                  type: 'danger'
                });
              });

          } else {
            this.notifyOnError( this.$t('invalid')  );
          }
        });
      },
      onInit: function () {
        if ( this.$route.params.items && this.$route.params.id ) {
          this.session = this.$route.params.items;
          this.images = this.session.images;
        } else if ( !this.$route.params.items && this.$route.params.id ) {
          this.lock_tab_1 = true;
          this.lock_tab_2 = true;
          ( new Session({}) ).show( this.$route.params.id )
            .then((response) => {
              this.session = response.data ;
              this.images = response.data.images;
            })
            .catch((error) => {
              this.notifyOnError( error.message );
            })
            .finally(() => {
              this.lock_tab_1 = false;
              this.lock_tab_2 = false;
            })
        }
      },
      onClick: _.debounce( function ( item ) {
        let self = this;
        Swal.fire({
          title: self.$t('Remove Attendance'),
          text: self.$t('Confirm Attendance Delete'),
          showCancelButton: true,
          confirmButtonText: self.$t('Delete'),
          confirmButtonClass: "md-button md-success",
          cancelButtonText: self.$t('Cancel'),
          cancelButtonClass: "md-button md-danger",
          buttonsStyling: false
        }).then((result) => {
          if (result.value) {
            (new Attendance( { attendance: !item.attendance } )).update( item.id )
              .then((response) => {
                self.notifyOnSuccess( response.data );
                self.onInit()
              })
              .catch((error) => {
                self.notifyOnError( error.message )
              })
          }
        });

      }, 300),
      getImages: function () {
        this.onInit();
      },
      onDelete: function (id = null) {
        if (id) {
          let that = this;
          Swal.fire({
            title: that.$t('Delete'),
            text: that.$t('Confirm Delete File'),
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "md-button md-success",
            cancelButtonClass: "md-button md-danger",
            confirmButtonText: that.$t('Yes'),
            cancelButtonText: that.$t('Cancel'),
            buttonsStyling: false
          }).then(result => {
            if (result.value) {
              (new Files()).destroy(id)
                .then((response) => {
                  Swal.fire({
                    title: that.$t('Deleted'),
                    text: response.data,
                    type: "success",
                    confirmButtonClass: "md-button md-success",
                    buttonsStyling: false
                  });
                })
                .then(() => {
                  that.getAgreements();
                  that.getWorkPlan();
                  that.getTraining();
                })
                .catch((error) => {
                  that.$notify({
                    message: error.message || that.unexpected,
                    icon: "add_alert",
                    horizontalAlign: 'top',
                    verticalAlign: 'center',
                    type: 'danger'
                  });
                })
            }
          });

        }
      },
    },
    computed: {
      current_file: function () {
        return this.images[ this.current_image ];
      }
    }
  }
</script>

<style scoped>

</style>