<template>
  <div class="md-layout">
    <div class="md-layout-item md-size-100">
      <session-form :session="$route.params.item" @on-submit="onSubmit"></session-form>
    </div>
  </div>
</template>

<script>
  import SessionForm from "@/pages/Dashboard/Session/Form/SessionForm";
  export default {
    name: "EditSession",
    components: {
      SessionForm
    },
    created: function () {
      this.axiosInterceptor();
    },
    methods: {
      onSubmit: function (form, isValid) {
        if ( isValid && form.participants.length > 0) {
          form.update( this.$route.params.id )
            .then((response) => {
              this.notifyOnSuccess( response.data );
            })
            .catch((error) => {
              this.notifyOnError( error.message );
            })
        } else {
          this.notifyOnError( this.$t('invalid') );
        }
      }
    }
  }
</script>

<style scoped>

</style>