<template>
  <div class="md-layout">
    <div class="md-layout-item md-size-100">
      <session-form @on-submit="onSubmit"></session-form>
    </div>
    <modal v-if="showAlert" @close="showAlert = false">
      <template slot="header">
        <h4 class="modal-title">{{ $t('important') }}</h4>
        <md-button class="md-simple md-just-icon md-round modal-default-button" @click="showAlert = false">
          <md-icon>clear</md-icon>
        </md-button>
      </template>
      <template slot="body">
        <div class="instruction">
          <div class="md-layout">
            <div class="md-layout-item">
              <p class="description">
                {{ $t('suggestion') }} Esta alerta dejará de verse el 2019-07-26.
              </p>
            </div>
          </div>
        </div>
      </template>
    </modal>
  </div>
</template>

<script>
  import {Modal} from "@/components"
  import SessionForm from "@/pages/Dashboard/Session/Form/SessionForm";
  import moment from 'moment'
  export default {
    name: "Session",
    components: {
      SessionForm,
      Modal
    },
    data: function () {
      return {
        showAlert: false,
      }
    },
    created: function () {
      this.axiosInterceptor();
      this.showAlert = moment().isBefore( moment('2019-07-26') );
    },
    methods: {
      onSubmit: function (form, isValid) {
        if ( isValid && form.participants.length > 0 ) {
          form.store()
            .then((response) => {
              this.notifyOnSuccess( response.data );
            })
            .catch((error) => {
              this.notifyOnError( error.message );
            })
        } else {
          this.notifyOnError( this.$t('invalid') );
        }
      }
    }
  }
</script>

<style scoped>

</style>