<template>
  <div class="md-layout">

    <div v-if="$auth.can( 'admin_access')" class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-small-size-100 md-large-size-100 md-size-80 mx-auto">
      <md-card>
        <md-card-content>
          <div class="md-layout-item">
            <md-field md-clearable :class="[{ 'md-valid': !errors.has( $t('instructor') ) && touched.instructor }, { 'md-error': errors.has( $t('instructor') ) }]">
              <md-icon>event</md-icon>
              <label for="schedule">{{ $t('instructor').capitalize() }}</label>
              <md-select @md-selected="onSelectedInstructor"
                         v-model="instructor_id"
                         :data-vv-name="$t('instructor')"
                         required name="schedule" id="schedule">
                <md-option v-for="item in instructors" :key="item.id" :value="item.id">{{ item.name }}</md-option>
              </md-select>
            </md-field>
          </div>
        </md-card-content>
      </md-card>
    </div>

    <div class="md-layout-item md-small-size-100 md-medium-size-100 md-large-size-100 md-xlarge-size-65 md-size-65 mx-auto">
      <md-card>
        <md-card-header class="md-card-header-icon md-card-header-blue">
          <div class="card-icon">
            <md-icon>assignment</md-icon>
          </div>
          <h4 class="title">{{ $t('Sessions') }}</h4>
        </md-card-header>
        <md-card-content>
          <div class="md-layout" >
            <div class="md-layout-item md-size-30 ml-auto md-small-size-100">
              <md-field>
                <md-input type="search" clearable :placeholder="$t('Search')" v-model="query">
                </md-input>
              </md-field>
            </div>
          </div>

          <v-data-table :headers="columns" :rows-per-page-items="[5, 10, 15, 25, 50, 100]" :items="sessions" :expand="expand" item-key="id"
                        :loading="loading" :pagination.sync="pagination" :total-items="total" :rows-per-page-text="$t('Per Page')">

            <template v-slot:progress >
              <md-progress-bar md-mode="indeterminate"></md-progress-bar>
            </template>

            <template v-slot:pageText="props">
              {{ $t('pagination', { init: props.pageStart, end: props.pageStop, total: props.itemsLength } ) }}
            </template>

            <template v-slot:no-data>
              <md-empty-state
                md-icon="assignment_ind"
                :md-label="$t('empty').capitalize()"
                :md-description="$t('no data')">
                <md-button @click.prevent="onCreate" class="md-button md-info md-round md-block">
                  {{ $t('Create Session') }}
                </md-button>
              </md-empty-state>
            </template>

            <template v-slot:items="item">
              <tr @click="item.expanded = !item.expanded">
                <td>
                  <md-button class="md-just-icon md-warning md-simple" @click.native="onEdit(item.item)">
                    <md-icon>create</md-icon>
                    <md-tooltip md-direction="top">{{ $t('Edit') }}</md-tooltip>
                  </md-button>
                  <md-button class="md-just-icon md-success md-simple" @click.native="onAttendance(item.item)">
                    <md-icon>assignment_turned_in</md-icon>
                    <md-tooltip md-direction="top">{{ $t('Attendance') }}</md-tooltip>
                  </md-button>
                  <md-button class="md-just-icon md-danger md-simple" @click.native="onDelete(item.item)">
                    <md-icon>delete</md-icon>
                    <md-tooltip md-direction="top">{{ $t('Delete') }}</md-tooltip>
                  </md-button>
                </td>
                <td>{{ item.item.id }}</td>
                <td class="is-right">{{ item.item.park_name }}</td>
                <td class="is-right">{{ item.item.day }}</td>
                <td class="is-right">{{ item.item.schedule }} / {{ item.item.initial_time }} - {{ item.item.end_time }}</td>
                <td class="is-right">{{ item.item.user_name }}</td>
              </tr>
            </template>

            <template v-slot:expand="item">
              <v-card flat>
                <div style="padding: 24px;" >
                  <table class="mu-table-body" style="width:100%">
                    <tr>
                      <th width="150">{{ $t('created_at').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.created_at }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('updated_at').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.updated_at }}</td>
                    </tr>
                    <tr v-for="participant in item.item.participants">
                      <th width="150">{{ $t('participant').capitalize() }}:</th>
                      <td class="is-left">{{ participant.participant }}</td>
                    </tr>
                  </table>
                </div>
              </v-card>
            </template>

          </v-data-table>

        </md-card-content>
      </md-card>
    </div>
  </div>
</template>

<script>
  import Swal from "sweetalert2";
  import moment from "moment";
  import VueElementLoading from 'vue-element-loading'
  import { AtomSpinner } from 'epic-spinners'
  import {Session} from "@/models/services/Session";
  import {Instructors} from "@/models/services/Instructors";

  export default {
    name: "ParticipantsTable",
    components: {
      VueElementLoading,
      AtomSpinner
    },
    data: () => ({
      instructor_id: null,
      instructors: [],
      touched: {
        instructor: false,
      },
      moment: moment,
      total: 0,
      pagination: {},
      expand: false,
      sessions: [],
      loading: true,
      query: null,
    }),
    created: function() {
      this.getSessions();
      if ( this.$auth.can('admin_access') ) {
        this.getInstructors();
      }
    },
    methods: {
      getInstructors: _.debounce( function () {
        (new Instructors()).index()
          .then( response =>  this.instructors = response.data)
          .catch((error) => {
            this.notifyOnError( error.message );
          })
      }, 700 ),
      onSelectedInstructor: _.debounce(function( id ) {
        this.instructor_id = id;
        this.getSessions();
      }, 700),

      getSessions: _.debounce( function () {
        const { sortBy, descending, page, rowsPerPage } = this.pagination;
        const query = this.query;
        this.loading = true;
        (new Session({})).index({ params: { instructor: this.instructor_id, per_page: rowsPerPage, order: descending, column: sortBy, query: query, page: page } })
          .then( (response) => {
            this.sessions = response.data.data;
            this.total = response.data.total;
            this.loading = false;
          })
          .catch((error) => {
            this.$notify({
              message: error.message || this.unexpected,
              icon: "add_alert",
              horizontalAlign: 'top',
              verticalAlign: 'center',
              type: 'danger'
            });
          })
      }, 300),
      onEdit: function (item) {
        this.$router.push( { name: 'Edit Session', params: { item: item, id: item.id }} );
      },
      onCreate: function () {
        this.$router.push( { name: 'Create Session'} )
      },
      onAttendance: function ( item ) {
        this.$router.push( { name: 'Attendance', params: { item: item, id: item.id } } )
      },
      onDelete: function (item) {
        let that = this;
        Swal.fire({
          title: that.$t('Delete Session'),
          text: that.$t('Confirm Delete'),
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "md-button md-success",
          cancelButtonClass: "md-button md-danger",
          confirmButtonText: that.$t('Yes'),
          cancelButtonText: that.$t('Cancel'),
          buttonsStyling: false
        }).then(result => {
          if (result.value) {
            (new Session({})).destroy( item.id )
              .then((response) => {
                Swal.fire({
                  title: that.$t('Deleted'),
                  text: response.data,
                  type: "success",
                  confirmButtonClass: "md-button md-success",
                  buttonsStyling: false
                });
              })
              .then(() => {
                that.getSessions();
              })
              .catch((error) => {
                that.$notify({
                  message: error.message || that.unexpected,
                  icon: "add_alert",
                  horizontalAlign: 'top',
                  verticalAlign: 'center',
                  type: 'danger'
                });
              })
          }
        });
      }
    },
    computed: {
      columns: function () {
        return [
          { text: this.$t('Edit').capitalize(), width: '100', sortable: false },
          { text: '#', width: '100', value: 'id', sortable: true },
          { text: this.$t('park').capitalize(), value: 'park', width: '300', align: 'center', sortable: true },
          { text: this.$t('day').capitalize(), value: 'day', width: '200', align: 'center', sortable: true },
          { text: this.$t('schedule').capitalize(), value: 'schedule', width: '126', align: 'center', sortable: true },
          { text: this.$t('username').capitalize(), value: 'user_name', width: '126', align: 'center', sortable: false },
        ];
      },
    },
    watch: {
      query: function () {
        this.getSessions();
      },
      pagination: {
        handler () {
          this.getSessions();
        },
        deep: true
      }
    },
  }
</script>

<style scoped>

</style>